.activity-operate-box {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    min-width: 1320px;
}

.activity-table-height {
    height: calc(100% - 172px);
    width: 100%;
    overflow: auto;
}

.all-table-null-box {
    width: 100%;
    height: calc(100% - 46px);
}

