

.card-manage-box {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    overflow: auto;
    min-width: 1320px;
    background-color: white;
}

.card-manage-header {
    background-color: #F7F7F7;
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 10px 20px;
}

.card-h-first-line {
    width: 100%;
}

.card-h-second-line {
    width: 100%;
    padding-top: 10px;
}

.card-cue-line {
    height: 34px;
    line-height: 34px;
    float: left;
}

.card-search-btn-box {
    height: 34px;
    line-height: 34px;
}

.card-search-btn {
    width: 96px;
    height: 32px;
    background-color: #3896F8;
    color: white;
    text-align: center;
    line-height: 32px;
    border: none;
    cursor: pointer;
}

.card-h-font {
    height: 34px;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    line-height: 34px;
    float: left;
}

.card-h-input {
    float: left;
    width: calc(100% - 100px);
}

.card-ico-date {
    float: right;
    height: 34px;
    width: 34px;
    position: relative;
    top: -34px;
}

.card-manage-body {
    width: 100%;
    height: calc(100% - 150px);
}

.card-ico-second-date {
    float: right;
    height: 34px;
    width: 34px;
    position: relative;
    right: 100px;
}

.card-manage-new-card {
    width: 100%;
    padding: 10px 0;
    clear: both;
    display: inline-block;
}

.card-manage-new-btn {
    float: right;
    width: 96px;
    height: 32px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    border: none;
    cursor: pointer;
    background-color: #3896F8;
}

.card-manage-add-line {
    width: 100%;
    padding: 15px 0;
}

.card-four-right-input {
    width: calc(100% - 100px);
    float: left;
}

.card-logo-upload {
    width: 140px;
    height: 60px;
    background-color: #EEEEEF;
    float: left;
}

.card-logo-btn-box {
    width: calc(100% - 240px);
    float: left;
    padding: 28px 0 0 20px;
    height: 60px;
}

.card-logo-btn {
    width: 88px;
    height: 32px;
    color: #3896F8;
    border: 1px solid #3896F8;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    background-color: white;
}

.card-manage-add-box {
    width: 100%;
    height: 100%;
    padding: 40px 0 0 40px;
    background-color: white;
    overflow: auto;
}

.card-m-add-date-box {
    width: calc(40% - 50px);
    float: left;
    height: 34px;
}
.card-manage-add-date {
    float: left;
    width: 100%;
}

.card-right-remain {
    padding-left: 100px;
    color: #999999;
    height: 34px;
    line-height: 34px;
}

.card-add-both-date {
    width: 34px;
    height: 34px;
    float: right;
    position: relative;
    top: -34px;
}

.card-m-add-date {
    width: calc(40% - 150px);
    float: left;
}

.card-add-minute-font {
    height: 34px;
    line-height: 34px;
    width: 50px;
    text-align: center;
}

.card-manage-detail-box {
    width: 100%;
    height: 100%;
    padding: 10px 40px 0 40px;
    background-color: white;
    overflow: auto;
}

.card-detail-img {
    width: 140px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    background-color: #EEEEEF;
    font-size: 12px;
}