.grade-content-box {
    padding: 20px 20px 0 20px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    min-width: 1320px;
    overflow: auto;
}

.grade-header-list {
    width: 100%;
    height: 30px;
}
.grade-h-list-ul {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #E3E3E4;
}

.grade-h-list-ul li {
    float: left;
    width: 80px;
    text-align: left;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.grade-h-list-li-selected {
    color: #4A90E2;
    border-bottom: 2px solid #4A90E2;
}

.grade-header-search-box {
    width: 100%;
}

.grade-list-content {
    padding: 30px 0 0 0;
    height: calc(100% - 30px);
}

.grade-h-s-choice {
    background-color: #F7F7F7;
    height: 100%;
    padding: 15px 0 15px 15px;
}

.grade-h-s-choice li {
    float: left;
    list-style: none;
    height: 34px;
    overflow: hidden;
}

.grade-h-li-two-font {
    width: 72px;
    text-align: right;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    float: left;
}


.grade-h-li-four-font {
    width: 100px;
    text-align: right;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    float: left;
}

.grade-h-two-font-input {
    width: calc(100% - 72px);
    float: left;
}

.grade-h-four-font-input {
    width: calc(100% - 100px);
    float: left;
}

.grade-cue-line {
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 2px;
}

.grade-new-honor-box {
    width: 100%;
    height:62px;
}

.grade-table-height {
    height: calc(100% - 156px);
}

.grade-table-logo-height {
    height: 100%;
}

.grade-table-height-box {
    height: calc(100% - 126px);
}

.medal-box {
    display: inline-block;
    background-color: white;
    width: calc(100% - 80px);
    height: calc(100% - 96px);
    position: absolute;
    overflow-y: scroll;
    padding: 20px 40px;
}
.imgDescription {
    text-align: center;
}
.imgDescrptionSpan {
    width: 220px;
    text-align: left;
    display: inline-block;
    color: #3896F8
}
/* 上传图片 */
.img-box {
    text-align: center;
}
.uploadLogo {
    width: 220px;
    height: 220px;
    opacity: 0;
    z-index: 5;
    display: inline-block !important;
}
.imgVeil-box {
    text-align: center;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
}
.uploadLogoVeil {
    width: 220px;
    height: 220px;
    z-index: 4;
    text-align: center;
    line-height: 220px;
    display: inline-block;
    border: 1px solid #979797;
    font-weight: 900;
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}
.uploadImgShow {
    width: 220px;
    height: 220px;
    border: 1px solid #979797;
}
.grade-list-content-box{
    padding: 30px 0 0 0;
    width: 100%;
    height: calc(100% - 30px);
}

