.medal-content-box {
	min-width: 1320px;
	overflow: auto;
	padding: 20px 20px 0 20px;
	background-color: white;
	height: 100%;
	width: 100%;
}

.medal-big-logo-size {
	width: 108px;
	height: 108px;
	float: left;
}

.medal-small-logo-size {
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 30px;
}

.medal-edit-bg {
	padding: 50px;
	min-width: 1320px;
	overflow: auto;
	background-color: white;
	height: 100%;
	width: 100%;
}

.medal-right-input {
	width: calc(90% - 100px);
	float: left;
}

.medal-upload-btn-box {
	width: 100%;
	float: left;
	padding: 10px 0 0 100px;
}

.medal-upload-btn {
	width: 88px;
	height: 32px;
	color: #3896F8;
	border: 1px solid #3896F8;
	text-align: center;
	line-height: 32px;
	background-color: white;
}