.privilege-manage-box {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    overflow: auto;
    min-width: 1320px;
    background-color: #FFFFFF;
}

.peivilege-body-box {
    width: 100%;
    height: calc(100% - 126px);
}

.privilege-add-box {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    overflow: auto;
}

.privilege-add-module-body {
    padding: 20px 0;
}

.privilege-left-cue-line-box{
    width: calc(100% - 100px);
    height: 34px;
    float: left;
}
.privilege-left-cue-line {
    width: 100%;
    float: left;
    height: 1px;
    margin: 16.5px 0;
    background-color: #E3E3E4;
}

.privilege-status-choice-box {
    width: 100px;
    float: left;
    height: 34px;
}

.privilege-status-font {
    height: 34px;
    line-height: 34px;
    float: left;
    cursor: pointer;
}

input[type='radio'].privilege-edit-radio {
    width: 24px;
    margin: 0;
    height: 34px;
    float: left;
    
}

.privilege-detail-box {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px 30px 30px 30px;
    overflow: auto;
}