.signUp-account-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.sa-header{
    width: calc(100% - 20px);
    height: 150px;
    padding: 15px;
    margin: 10px;
    background-color: #F7F7F7;
    overflow: hidden;
}

.sa-body{
    width: 100%;
    height: calc(100% - 150px);
    padding: 15px;
}

.sa-h-item-box{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.sa-h-item{
    height: 30px;
    float: left;
}

.sa-h-item-label{
    width: 120px;
    text-align: center;
    line-height: 30px;
    padding-right: 20px;
    float: left;
}

.sa-h-item-item-box{
    width: calc(100% - 120px);
    height: 100%;
    float: left;
}

.sa-h-i-item-a-in{
    height: 30px;
}

.sa-h-i-item-l-in{
    width: calc(50% - 10px);
    float: left;
    height: 30px;
}

.sa-h-i-item-seq{
    display: inline-block;
    width: 20px;
    height: 100%;
    float: left;
    line-height: 30px;
    text-align: center;
}

.sa-h-i-item-r-in{
    width: calc(50% - 10px);
    float: left;
    height: 30px;
}

.sa-h-item-btn-box{
    text-align: center;
}

.sa-h-item-btn{
    width: 80px;
}

.sa-b-header{
    height: 40px;
    background-color: #D8D8D8;
}

.sa-b-h-ul li{
    line-height: 40px;
    float: left;
    text-align: center;
}

.sa-b-b-ul{}

.sa-b-b-ul:nth-child(2n){
    background-color: #F9F9F9;
}

.sa-b-b-ul li{
    line-height: 40px;
    float: left;
    font-size: 12px;
    color: #999999;
    text-align: center;
}

.sa-b-b-ico-box{
    width: 30px;
    height: 30px;
    margin: 5px auto;
}

.sa-b-b-ico{
    width: 100%;
    margin: 0;
    vertical-align: initial;
}

.sa-b-body{
    width: 100%;
    height: calc(100% - 90px);
    overflow: auto;
}
.sa-b-footer{
    width: 100%;
    height: 50px;
    text-align: center;
}

.signUp-account-detail-main{
    width: 100%;
    height: 100%;
    padding: 0 10px;
}


.sad-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.sad-content{
    padding: 10px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: #ffffff;
}

.sad-header{
    width: 100%;
    height: 40px;
}

.sad-body{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
    padding: 10px 15px;
}

.sad-item-box{
    width: 100%;
    padding: 10px;
}

.sad-item{
    width: 100%;
    margin: 10px 0 ;
}

.sad-item-title{
    width: 120px;
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    float: left;
}

.sad-item-content{
    width: calc(100% - 120px);
    line-height: 30px;
    float: left;
}

.sad-item-img{
    width: 60px;
    height: 62px;
}

.sad-item-ul{
    width: 100%;
}

.sad-item-ul li{
    width: 60px;
    height: 80px;
    margin: 0 20px 0 0;
    float: left;
}

.sad-medal-img{
    width: 60px;
    height: 60px;
    vertical-align: inherit;
    cursor: pointer;
}

.medal-main{
    padding-left: 40px;
}

.delete-medal-i{
    width: 15px;
    height: 15px;
    float: right;
    position: relative;
    top: -90px;
    right: -5px;
    display: none;
    cursor: pointer;
}

.delete-medal-span{
    width: 10%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}

.sad-item-ul li:hover .delete-medal-i{
    display: inline-block;
}

.sad-item-card{
    width: 150px;
    height: 60px;
    background-color: #D9D9DA;
    padding: 10px 20px 10px 30px;
    font-size: 30px;
    color: #E3E3E3;
    float: left;
    margin-right: 20px;
}

.sad-give-medal{
    width: 50px;
    margin: 0 15px;
}

.give-k-point-input{
    width: 320px;
    margin: 10px auto;
}

.signup-padding {
    padding-top: 30px;
}