.task-content-box {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px 20px 0 20px;
    overflow: auto;
    min-width: 1320px;
}

.task-header-box {
    width: 100%;
    background-color: #F7F7F7;
    padding: 15px 0 15px 10px;
    height: 64px;
}

.task-h-label {
    width: 100px;
    float: left;
    height: 34px;
    text-align: center;
    line-height: 34px;
}

.task-h-first-in {
    float: left;
    width: calc(100% - 100px);
    padding-right: 30px;
}

.task-h-second-in {
    float: left;
    width: calc(100% - 100px);
    padding-right: 30px;
}

.icon-second-style {
    position: relative;
    float: right;
    width: 30px;
    height: 34px;
    font-size: 17px;
    line-height: 34px;
    right: 100px;
    text-align: center;
}

.cue-line {
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 2px;
    color: #BDBDBD;
}

.task-h-serch-box {
    height: 34px;
    overflow: hidden;
    float: left;
}

.icon-first-style {
    position: relative;
    float: right;
    width: 30px;
    height: 34px;
    font-size: 17px;
    line-height: 34px;
    top: -34px;
    text-align: center;
}

.task-search-btn {
    max-width: 96px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #3896F8;
    color: #ffffff;
    width: 100%;
    border: none;
    outline: none;
}

.new-task-btn-box {
    height: 62px;
    width: 100%;
}
 
.edit-btn-right {
    float: right;
    margin: 11px 0;
}

.task-body-box {
    width: 100%;
    height: calc(100% - 126px);
}

.task-b-head, .task-b-body {
    width: 100%;
    text-align: center;
}

.task-b-head li {
    background-color: #D8D8D8;
    font-size: 16px;
    float: left;
    height: 46px;
    line-height: 46px;
}

.task-b-body li {
    float: left;
    height: 46px;
    line-height: 46px;
}

.task-b-body:nth-child(2n) li{
    background-color: #F9F9F9;
}

.task-btn-span{
    float: left;
    cursor: pointer;
    color: #3896f8;
    display: inline-block;
    width: 25%;
}
.task-b-body-img {
    height: 36px;
    width: 36px;
    margin: 5px 0;
}

.task-b-body-box {
    height: calc(100% - 100px);
    overflow: auto;
}

/* 详情 */
.task-detail-content-box {
    background-color: white;
    width: 100%;
    height: 100%;
}

.task-detail-del-btn {
    width: 100%;
    padding: 0 40px 0 0;
}

.task-picture-upload {
    width: 230px;
    height: 80px;
    background-color: #EEEEEF;
    text-align: center;
    line-height: 80px;
    font-size: 12px;
    float: left;
}

.task-p-upload-btn-box {
    height: 80px;
    width: calc(50% - 180px);
    bottom: 0;
    float: left;
    padding: 48px 0 0 40px;
}
.task-upload-btn-box {
    height: 60px;
    width: calc(50% - 160px);
    bottom: 0;
    float: left;
    left: 60px;
    padding: 28px 0 0 40px;
    font-size: 12px;
}

.task-detail-base-info {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 25px 0 40px 40px;
}

.task-line-box {
    width: calc(100% - 140px);
    height: 20px;
    float: left;
}

.task-middle-line {
    width: 100%;
    height: 1px;
    float: left;
    margin: 9.5px 0;
    background-color: #E3E3E4;
}

.task-question-box {
    width: 100%;
    padding: 10px 0;
}

.taskLogo {
    width: 60px;
    height: 60px;
}

.taskLogoUload {
    width: 60px;
    height: 60px;
    background-color: #EEEEEF;
    line-height: 60px;
    float: left;
    font-size: 12px;
    text-align: center;
}

.taskPicture {
    width: 240px;
    height: 90px;
}

.honorLogo {
    width: 36px;
    height: 36px;
}

.cardLogo {
    width: 150px;
    height: 60px;
}

.task-event-body,
.task-event-head {
    width: calc(100% - 30px);
    height: 46px;
    position: relative;
    left: 30px;
}

.task-event-head li {
    background-color: #D8D8D8;
}

.task-event-body li,
.task-event-head li {
    float: left;
    text-align: center;
    height: 46px;
    line-height: 46px;
}

.task-event-body li:nth-child(2n-1) {
    border: 1px solid #BDBDBD;
}

.task-event-body li:nth-child(2n) {
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.task-event-head li:nth-child(2n-1) {
    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
}

.task-event-head li:nth-child(2n) {
    border-top: 1px solid #BDBDBD;
}

.task-event-body li:nth-child(4),
.task-event-head li:nth-child(4) {
    border-right: 1px solid #BDBDBD;
}

.task-edit-input {
    float: left;
    width: calc(90% - 100px);
}

.task-edit-select {
    float: left;
    width: calc(70% - 100px);
}

.task-edit-remain {
    color: #999999;
    height: 34px;
    line-height: 34px;
    float: left;
    padding-left: 30px;
    overflow: hidden;
}

.all-four-right-answer-time {
    float: left;
    width: 100px;
}

.task-q-logo-mid {
    height: 60px;
    line-height: 60px;
}

.task-q-picture-mid {
    height: 80px;
    line-height: 80px;
}

textarea.task-edit-textarea {
    width: calc(100% - 100px);
    float: left;
}

.task-question-module-box {
    width: 100%;
    padding: 10px 0 20px 0;
}

.task-edit-time-input {
    width: calc(50% - 100px);
}

.task-e-t-icon {
    float: left;
    left: -30px;
}

.task-edit-radio-box {
    width: 100px;
    height: 34px;
    float: left;
}

input[type='radio'].task-edit-radio {
    float: left;
    width: 34px;
    margin: 0;
}

.task-edit-radio-font {
    height: 34px;
    line-height: 34px;
    width: calc(100% - 34px);
    left: 40px;
    cursor: pointer;
}

.task-detail-add-btn {
    padding: 0 40px 20px 0;
}

.honor-add-i-box {
    width: calc(100% - 100px);
    float: left;
}

.task-i-loca {
    width: 24px;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}

.task-card-honor-add {
    color: #3896F8;
    float: left;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
}

.task-honer-description {
    color: #999999;
    width: 100%;
    padding: 10px 0 0 30px;
}

.task-detail-body {
    width: 100%;
}