.user-event {
    padding: 10px 20px 0 20px;
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.event-box {
    border-bottom: 1px solid #E3E3E4;
}

.event-head-search {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 20px;
    width: 100%
}

.inside-event {
    height: calc(100% - 43px);
    width: 100%;
    padding: 20px 0 10px 0;
}

.inside-e-header {
    width: 100%;
}

.inside-e-ul {
    width: 100%;
    height: 100%;
    background-color: #D8D8D8;
}

.inside-e-ul li {
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    float: left;
}

.inside-e-body {
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
}

.inside-e-b-ul {
    width: 100%;
}

.inside-e-b-ul li {
    text-align: center;
    line-height: 46px;
    font-size: 14px;
    float: left;
}

.inside-e-b-ul:nth-child(2n) {
    background-color: #f9f9f9;
}

.outside-event {
    width: 100%;
    height: calc(100% - 43px);
    padding-top: 20px;
    overflow: hidden;
}

.outside-e-btn-box {
    width: 100%;
    height: 62px;
}

.event-body-table-detail {
    width: 100%;
    height: calc(100% - 136px);
}

.event-table-header {
    width: 100%;
    height: 46px;
}

.event-t-h-ul {
    width: 100%;
    background-color: #D8D8D8;
}

.event-t-h-ul li {
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    float: left;
}

.event-table-body {
    width: 100%;
    height: calc(100% - 182px - 54px);
    overflow: auto;
}

.event-t-b-ul {
    width: 100%;
}

.event-t-b-ul:nth-child(2n) {
    background-color: #f9f9f9;
}

.event-t-b-ul li {
    text-align: center;
    line-height: 46px;
    float: left;
}

.new-event-btn {
    color: white;
    width: 96px;
    height: 32px;
    background-color: #3896F8;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    float: right;
    margin: 15px 0;
}

.new-paramters {
    position: absolute;
    left: 50%;
    color: #3896F8;
    cursor: pointer;
}

.paramters-box {
    border: 1px solid #3896F8;
    display: inline-block;
    color: #3896F8;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    padding: 0 10px;
    margin-right: 15px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.delete-label {
    margin-left: 5px;
    cursor: pointer;
}

.delete-label-box {
    width: 50%;
    float: left;
}

.account-check-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ac-body {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    background-color: #FFFFFF;
    overflow: auto;
}

.ac-item-main {
    width: calc(100% - 30px);
    margin: 15px;
}

.ac-item-title {
    width: 120px;
    text-align: right;
    padding-right: 15px;
    line-height: 40px;
    float: left;
}

.ac-item-con {
    width: calc(100% - 120px);
    text-align: left;
    line-height: 40px;
    float: left;
}

.ac-item-table-header {
    text-align: center;
}

.ac-item-table-body {
    text-align: center;
}

.ac-item-table-header li:nth-child(1) {
    width: 250px;
    line-height: inherit;
    float: left;
    background-color: #D8D8D8;
    border: 1px solid #cccccc;
}

.ac-item-table-header li:nth-child(2) {
    width: 150px;
    line-height: inherit;
    float: left;
    background-color: #D8D8D8;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item-table-header li:nth-child(3) {
    width: 400px;
    float: left;
    background-color: #D8D8D8;
    line-height: inherit;
    border: 1px solid #cccccc;
}

.ac-item-table-body li:nth-child(1) {
    width: 250px;
    line-height: inherit;
    float: left;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item-table-body li:nth-child(2) {
    width: 150px;
    line-height: inherit;
    float: left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item-table-body li:nth-child(3) {
    width: 400px;
    line-height: inherit;
    float: left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item2-table-header {
    text-align: center;
}

.ac-item2-table-body {
    text-align: center;
}

.ac-item2-table-header li:nth-child(1) {
    width: 400px;
    line-height: inherit;
    float: left;
    background-color: #D8D8D8;
    border: 1px solid #cccccc;
}

.ac-item2-table-header li:nth-child(2) {
    width: 150px;
    line-height: inherit;
    float: left;
    background-color: #D8D8D8;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item2-table-body li:nth-child(1) {
    width: 400px;
    line-height: inherit;
    float: left;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item2-table-body li:nth-child(2) {
    width: 150px;
    line-height: inherit;
    float: left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}

.ac-item-btn-box{
    width: 100%;
    padding: 30px 0 30px 130px ;
    text-align: left;
}

.ac-item-del-btn-box{
    width: 100%;
    text-align: right;
    padding: 15px 50px;
}

.ac-item-del-btn{
    width: 68px;
}


.check-event-edit-main{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.cee-body{
    width: 100%;
    height: 100%;
    padding: 40px 20px 20px 20px;
    overflow: auto;
    background-color: #FFFFFF;
}

.cee-b-item{
    padding-top: 10px;
}

.cee-b-title{
    width: 120px;
    padding-right: 20px;
    text-align: right;
    line-height: 40px;
    float: left;
}

.cee-b-con{
    width: calc(100% - 120px);
    float: left;
    height: 34px;
}

.cee-b-con-first-span{
    width: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    display: inline-block;
}

.cee-first-input{
    width: 310px;
    height: 30px;
    margin: 5px 0;
    float: left;
}

.cee-b-input{
    width: 350px;
    float: left;
    height: 30px;
    margin: 5px 0;
}

.cee-b-radio-box{
    width: 100px;
    float: left;
    text-align: center;
    line-height: 40px;
}

.cee-b-radio{
    float: left;
    width: 20px;
    line-height: 40px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.cee-b-radio-title{
    float: left;
    display: inline-block;
    line-height: 40px;
    width: calc(100% - 20px);
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
}

.cee-b-in-box{
    width: 100%;
}

.cee-b-in{
    height: 40px;
    padding: 5px 10px 5px 0;
    float: left;
}

.cee-b-input2{
    height: 30px;
}

.cee-cbox{
    width: 20px;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 30px !important;
    height: 30px;
    margin: 0 !important;
}

.cee-cbox-title{
    width: 40px;
    text-align: left;
    padding-left: 5px;
    float: left;
    line-height: 30px;
}

.cee-cbox-del{
    width: 40px;
    text-align: center;
    float: left;
    line-height: 30px;
    color: #3896F8;
    cursor: pointer;
}

.cee-b-add{
    padding-left: 120px;
    width: 100%;
}

.cee-b-add i{
    width: 20px;
    height: 40px;
    float: left;
    cursor: pointer;
}

.cee-b-add-t{
    width: 60px;
    text-align: center;
    line-height: 40px;
    float: left;
    color: #3896F8;
    cursor: pointer;
}

.cee-b-btn-box{
    float: left;
    width: 100%;
    padding: 50px 0 30px 130px ;
}

.cee-b-btn-cancel{
    width: 60px;
    text-align: center;
    float: left;
    line-height: 40px;
}

.event-right-remain-box {
    height: 20px;
    width: 100%;
    padding-left: 120px;
    display: inline-block;
}

.event-name-remain {
    width: 100%;
    float: left;
    height: 20px;
    color: #FF334C;
    font-size: 12px;
}

.eventAddInput {
    width: calc(100% - 120px);
    padding-left: 120px;
    height: 34px;
    margin: 0;
}