<div class="head">
    <div class="header-title clearfix">
        <img class="header-logo" src="images/logo/logo_font.png"/>
        <span class="header-logo-font">
            用戶运营系统
        </span>
    </div>
    <div class="header-user-box">
        <img class="iconHeaderShow" src="images/src/personal.jpg"/>
        <span class="header-user-name">管理员001</span>
        <span class="header-quit">退出</span>
    </div>
</div>
