/* 慎重修改，此处样式为同一样式 */

body {
}

.talign {
    text-align: center;
}

.title-color {
    color: #999999;
}

.right-box {
    background-color: #fff
}

.first-context-title:hover {
    cursor: pointer;
    color: #3896F8;
}

/* 查询、选择前的label样式 */
.label-control {
    width: 90px;
    float: left;
    font-size: 14px;
    color: #666;
    height: 34px;
    text-align: right;
    padding-right: 10px;
    line-height: 34px
}

.tab-li {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.tab-li.choose,
.tab-li:hover {
    border-bottom: 2px solid #3896F8;
    color: #3896F8;
}

.four-font-btn {
    width: 96px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #3896F8;
    border: none;
    display: block;
    cursor: pointer;
}

.op-btn-span {
    cursor: pointer;
    color: #3896f8;
}

.btn-3 {
    min-width: 30px;
    height: 34px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #3896F8;
    border-radius: 2px;
    color: #3896F8;
    background: #ffffff;
}

.btn-4{
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background-color: #3896F8;
    color: #ffffff;
}

.btn-5{
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #3896F8;
    border-radius: 2px;
    color: #3896F8;
    background-color: #ffffff;
}

input[type='radio'],
input[type='radio']:focus,
input[type='radio']:active {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline-offset: 0;
}

/* 分割线 */
.cut-off-line {
    line-height: 34px;
    height: 100%;
    font-size: 14px;
    color: #666;
    float: left;
    display: inline-block;
}

.input-control {
    width: calc(100% - 90px);
    float: left;
}

.input-fulll-control {
    float: left;
    width: calc(50% - 90px);
    min-width: 380px;
}

.button-control {
    width: 122px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #3896F8;
    border: none;
}

.wInput {
    width: 100%
}

.disnone {
    display: none;
}

.disblock {
    display: block;
}

/* 没有提示，只有一个input框 */
.only-input-control {
    width: calc(100% - 90px);
    float: left;
}

.next-event-search, .event-body-table-detail {
    padding-top: 20px
}

/* 操作的样式 */
.operate-style {
    color: #3896F8;
    cursor: pointer;
    margin: 0 10px;
}

.text-r {
    text-align: right;
    margin-right: 20px;
}

.m50 {
    margin-top: 50px
}

.m100 {
    margin-top: 100px;
}

.m25 {
    margin-top: 25px;
}

.ml20 {
    margin-left: 20px
}

.h34 {
    height: 34px;
}

.delete-btn-style {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border: 1px solid #3896F8;
    color: #3896F8;
    cursor: pointer;
}

.edit-btn-style {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #3896F8;
    border: 1px solid #3896F8;
    color: white;
    cursor: pointer;
}

/* 提醒展示 */
.remain-hide {
    display: none;
}

.remain-show {
    display: block;
    color: #FF334C;
    font-size: 12px;
}

.mainRemain {
    font-size: 16px;
    text-align: center;
    color: #666666;
}

.smallRemain {
    color: #BDBDBD;
    font-size: 12px;
    text-align: center;
}

.input-right-font {
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    color: #3896F8;
    padding-left: 13px;
    cursor: pointer;
}

.newDataPicture {
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #3896F8;
    cursor: pointer;
}

.btn-clear-change {
    text-align: center;
    margin-bottom: 15px;
}

.w3 {
    width: 30%;
    float: left;
}

.w2 {
    width: 20%;
    float: left;
}

.modal.center.am-fade .successDetail-box {
    width: 390px;
    height: 48px;
    background-color: white;
    text-align: center;
}

.successImg {
    width: 16px;
    margin: 16px 10px;
    height: 16px;
    vertical-align: top;
}

.successDetail {
    font-size: 16px;
    height: 100%;
    line-height: 48px;
}

/* 外层盒子 */
.controller-box {
    width: 100%;
    height: calc(100% - 40px);
}

.include-box {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.check-event-detail {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow-y: scroll;
}

.iconLocationShort {
    position: absolute;
    font-size: 16px;
    line-height: 34px;
    right: 10px
}

.iconLocationMiddle {
    position: absolute;
    font-size: 16px;
    left: calc(100% - 90px - 24px);
    line-height: 34px;

}

.iconLocationLong {
    position: absolute;
    font-size: 16px;
    right: calc(50% - 90px + 34px);
    line-height: 34px;
}

/*日期样式*/
.am-r-op-date{
    width: calc(50% - 10px);
    float: left;
    height: 30px;
    padding-right: 30px;
}

.am-op-item-s{
    width: 20px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin: 0;
}

.am-r-op-date-icon{
    width: 20px;
    height: 30px;
    float: left;
    margin-left: -30px;
}

/*分页样式*/
.am-b-page{
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: #ffffff;
}

.pagination {
    margin: 10px 0;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    margin: 0 8px;
    border-radius: 3px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5182E4;
    border-color: #5182E4;
}

.pagination > li > a, .pagination > li > span {
    color: #666666;
}

/*面包屑模式返回标题*/
.back-title{
    color: #5182E4;
    min-width: 40px;
    text-align: center;
    margin: 0 10px 0 0;
    line-height: inherit;
}

.back-t2{
    margin-left: 10px;
    line-height: inherit;
}

/*tag页*/
.tag-main{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
}

.tag-box {
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.tag-item {
    display: inline-block;
    padding: 0 15px;
    margin:0 15px;
    height: 100%;
}

.tag-item.choose {
    border-bottom: 2px solid #5182E4;
    color: #5182E4;
}

/*分隔符*/
.seq-box{
    width: 100%;
    padding: 0 15px;
    height: 41px;
    overflow: hidden;
}

.hr-seq{
    margin: 20px 0 ;
    color: #999999;
}

.hr-seq-title{
    display: inline-block;
    position: relative;
    float: left;
    top: -30px;
    padding: 0 30px;
    background-color: #ffffff;
    color: #999999;
}

.search-btn {
    width: 122px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #3896F8;
    border: none;
}


/**
* @description 因为table用ul和li代替,内部样式有所改变
* all-table-head:为总table(需看table要的高度,自行添加);
* all-table-head-ul,all-table-body-ul:为table的头和身体
* all-table-h-li 为头下的li;all-table-b-li为body下的li
* all-table-operation:为操作的样式(删除查询等)
*/
.all-table-head {
    width: 100%;
    height: 100%;
}

.all-table-head-ul {
    width: 100%;
    background-color: #f7f7f7;
    height: 46px;
}

.all-table-body-ul {
    width: 100%;
    height: 46px;
}

.all-table-body-box {
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
}

.all-table-body-ul:nth-child(2n) {
    width: 100%;
    background-color: #f9f9f9;
}

.all-table-b-li,
.all-table-h-li {
    float: left;
    text-align: center;
    height: 100%;
    line-height: 46px;
}

.all-table-operation {
    color: #4C9EFE;
    display: inline-block;
    cursor: pointer;
}

/**
* @description detail的同一样式
*/
.all-detail-bg {
    width: 100%;
    height: 100%;
    background-color: white;
}

.all-detail-delete-btn {
    width: 68px;
    height: 32px;
    color: #3896F8;
    border: 1px solid #3896F8;
    text-align: center;
    float: right;
    line-height: 32px;
    cursor: pointer;
}

.all-detail-del-btn {
    width: 100%;
    padding: 10px 30px 10px 0;
}

.all-detail-body {
    padding: 10px 0 0 30px;
}

.all-two-font-width {
    width: 72px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.all-four-font-width {
    width: 100px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.all-four-font-width-in {
    width: 100px;
    float: left;
    text-align: right;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
}

.all-two-right-answer {
    width: calc(100% - 72px);
    float: left;
}

.all-four-right-answer {
    width: calc(100% - 120px);
    float: left;
}

.all-detail-edit-btn {
    width: 170px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #3896F8;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}

.all-question-btn-box {
    width: 100%;
    padding-left: 100px;
}

.all-four-right-input {
    width: calc(30% - 100px);
    float: left;
}

textarea.all-four-right-textarea {
    width: calc(50% - 50px);
    height: 136px;
    float: left;
    resize: none;
}

.all-detail-save-btn {
    width: 150px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #3896F8;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}

.all-detail-cancel-btn {
    color: #3896F8;
    display: inline-block;
    height: 38px;
    width: 75px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

.all-upload-btn {
    width: 88px;
    height: 32px;
    color: #3896F8;
    border: 1px solid #3896F8;
    line-height: 32px;
    text-align: center;
    background-color: white;
}

.cur-p {
    cursor: pointer;
}

.all-eidt-input {
    float: left;
    width: calc(100% - 100px);
}

.all-half-edit-input {
    float: left;
    width: calc(50% - 50px);
}

.half-half-edit-input {
    float: left;
    width: calc(25% - 25px);
}

.all-edit-select {
    width: calc(40% - 100px);
    float: left;
}

.all-header-title-ul-box {
    width: 100%;
}

.all-header-title-ul {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #E3E3E4;
}

.all-header-title-li {
    float: left;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    width: 112px;
    padding: 10px 0 15px 10px;
}

.all-header-title-li-selected,.all-header-title-li:hover {
    border-bottom: 2px solid #3896F8;
}

.all-table-null-box {
    width: 100%;
    height: calc(100% - 46px);
    text-align: center;
    line-height: calc(100% - 46px);
}

.all-table-body-font {
    width: 100%;
    height: 43px;
    position: relative;
    font-size: 23px;
    line-height: 43px;
    top: 50%;
    transform: translateY(-50%);
}

.all-page-box {
    text-align: center;
    height: 54px;
}

.all-footer-page-box {
    text-align: center;
    display: inline-block;
}

.all-page-number {
    float: left;
}

.all-page-number li a {
    margin: 0 5px;
}

.all-page-operation {
    float: left;
}

.all-page-font {
    width: 35px;
    text-align: center;
    height: 54px;
    float: left;
    line-height: 54px;
}

.all-page-input {
    width: 70px;
    float: left;
    height: 34px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    background: white;
}