.ico-cee-add-o{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

.ico-data-picker-icon-o{
    background-position: center;
    background-size: 18px 16px;
    background-repeat: no-repeat;
}

.ico-delete-medal-o {
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}

.ico-calendar-add-o {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}