.fi{
    display: inline-block;
}

.ico-cee-add{
    background-image: url(../../images/src/addEvent.png);
}

.ico-data-picker-icon{
    background-image: url(../../images/icon/datepick_icon.png);
}

.ico-delete-medal {
    background-image: url(../../images/icon/delete_medal.png);
}

.ico-calendar-add {
    background-image: url(../../images/logo/icon-calendar.png);
}