<!-- 查看详情 -->
<div class="all-detail-bg">
    <div class="all-detail-del-btn clearfix">
		<span class="all-detail-delete-btn"
              ng-click="deleteEventDetail(dataIntroductionDetail.id)"  >
			删除
		</span>
    </div>
    <div class="all-detail-body">
        <div class="all-question-box clearfix m25">
            <label class="all-four-font-width">勋章名称:</label>
            <span class="all-four-right-answer">{{medalDetailDate.name}}</span>
        </div>
        <div class="all-question-box clearfix m25">
            <label class="all-four-font-width">勋章图标:</label>
            <img class="medal-big-logo-size" ng-src="{{medalDetailDate.logo}}" />
            <img class="medal-small-logo-size" ng-src="{{medalDetailDate.logo}}" />
        </div>
        <div class="all-question-box clearfix m25">
            <label class="all-four-font-width">勋章描述:</label>
            <span class="all-four-right-answer">{{medalDetailDate.description}}</span>
        </div>
        <div class="all-question-box clearfix m25">
            <label class="all-four-font-width">勋章状态:</label>
            <span class="all-four-right-answer">{{medalDetailDate.status}}</span>
        </div>
        <div class="all-question-box clearfix m25">
            <label class="all-four-font-width">创建时间:</label>
			<span class="all-four-right-answer">
				{{medalDetailDate.create | date:'yyyy-MM-dd'}}
			</span>
        </div>
        <div class="all-question-btn-box m50">
			<span class="all-detail-edit-btn"
                  ng-click="$root.jumpRoute.jumpToEdit(dataIntroductionDetail.id)">
			编辑
			</span>
        </div>
    </div>
</div>