<!-- 查看详情 -->
<div class="medal-edit-bg">
	<div class="all-detail-body">
		<div class="all-question-box clearfix m25">
			<div class="w50">
				<label class="all-four-font-width-in">勋章名称:</label>
				<input type="text" class="form-control medal-right-input" placeholder="广告躲金" />
			</div>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">勋章图标:</label>
			<img class="medal-big-logo-size" ng-src="{{medalDetailDate.logo}}" />
			<img class="medal-small-logo-size" ng-src="{{medalDetailDate.logo}}" />
			<div class="medal-upload-btn-box">
				<button class="medal-upload-btn">
					上传图片
				</button>
			</div>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">勋章描述:</label>
            <textarea class="form-control all-four-right-textarea"
					  placeholder="在开机广告结束后，会出现是否参与答题选项，如果参与答题，则可获得相应奖励。"></textarea>
		</div>
		<div class="all-question-btn-box m50 fl">
			<span class="all-detail-edit-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			保存
			</span>
            <span class="all-detail-cancel-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
		</div>
	</div>
</div>