<div class="activity-operate-box">
	<div class="all-header-title-ul-box">
		<ul class="all-header-title-ul">
			<li class="all-header-title-li"
				ng-class="{'all-header-title-li-selected':activityChoice=='activityShow'}"
				ng-click="changeActivity('activityShow')">活动展示管理</li>
			<li class="all-header-title-li"
				ng-class="{'all-header-title-li-selected':activityChoice=='activitylist'}"
				ng-click="changeActivity('activitylist')">活动列表</li>
		</ul>
	</div>

	<div class="a100 grade-list-content" ng-if="activityChoice == 'activitylist'"><!---->
		<div class="grade-header-search-box">
			<ul class="clearfix grade-h-s-choice">
				<li class="w15">
					<label class="grade-h-li-two-font">名称:</label>
					<input type="text" class="form-control grade-h-two-font-input" />
				</li>
				<li class="w10">
					<label class="grade-h-li-two-font">活动状态:</label>
					<input type="text" class="form-control grade-h-two-font-input" />
				</li>
				<li class="w20">
					<label class="grade-h-li-four-font">有效期:</label>
					<input type="text" class="form-control grade-h-four-font-input"
						   data-date-format="yyyy-MM-dd"
						   ng-model="createGradeDate.startDate"
						   data-autoclose="1"
						   data-min-date="{{createGradeDate.endDate}}"
						   placeholder="2016-01-01"
						   bs-datepicker="" />
					<i class="ico-calendar-add ico-calendar-add-o icon-first-style"></i>

				</li>
				<span class="grade-cue-line">到</span>
				<li class="w20">
					<input type="text" class="form-control grade-h-four-font-input"
						   data-date-format="yyyy-MM-dd"
						   ng-model="createGradeDate.endDate"
						   data-autoclose="1"
						   data-min-date="{{createGradeDate.startDate}}"
						   placeholder="2016-01-01"
						   bs-datepicker="" />
					<i class="ico-calendar-add ico-calendar-add-o icon-second-style"></i>

				</li>
				<li class="w10">
					<button class="search-btn">搜索</button>
				</li>
			</ul>
		</div>
		<div class="grade-new-honor-box">
			<button class="edit-btn-style edit-btn-right"
					ng-click="$root.jumpRoute.jumpToAdd(activityDataList.id)">新建活动</button>
		</div>
		<div class="all-table-head activity-table-height">
			<ul class="all-table-head-ul">
				<li class="w15 all-table-h-li">活动图片</li>
				<li class="w15 all-table-h-li">活动名称</li>
				<li class="w20 all-table-h-li">活动简介</li>
				<li class="w20 all-table-h-li">推广链接</li>
				<li class="w15 all-table-h-li">状态</li>
				<li class="w15 all-table-h-li">操作</li>
			</ul>
			<div class="all-table-null-box" ng-if="activityData ==''">
				<div class="all-table-body-font">暂无数据!!</div>
			</div>
			<div class="all-table-body-box activity-table-have-box" ng-if="activityData !=''">
				<ul class="all-table-body-ul" ng-repeat="activityDataList in activityData track by $index">
					<li class="w15 all-table-b-li">
						<img class="task-b-body-img" src="" alt="加载失败" ng-src="{{activityDataList.img}}" />
					</li>
					<li class="w15 all-table-b-li">{{activityDataList.name}}</li>
					<li class="w20 all-table-b-li">{{activityDataList.description}}</li>
					<li class="w20 all-table-b-li">{{activityDataList.link}}</li>
					<li class="w15 all-table-b-li">{{activityDataList.status}}</li>
					<li class="w15 all-table-b-li">
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToDetail(activityDataList.id)">查看</span>
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToEdit(activityDataList.id)">编辑</span>
						<span class="w30 all-table-operation">删除</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grade-list-content w100" ng-if="activityChoice == 'activityShow'">
		<div class="all-table-head grade-table-height">
			<ul class="all-table-head-ul">
				<li class="w20 all-table-h-li">名称</li>
				<li class="w20 all-table-h-li">图标</li>
				<li class="w40 all-table-h-li">格式要求</li>
				<li class="w20 all-table-h-li">操作</li>
			</ul>
			<div class="all-table-body-box">
				<ul class="all-table-body-ul" ng-repeat="logoDataModalDetail in logoDataModal track by $index">
					<li class="w20 all-table-b-li">{{logoDataModalDetail.name}}</li>
					<li class="w20 all-table-b-li">
						<img ng-src="{{logoDataModalDetail.picture}}" />
					</li>
					<li class="w40 all-table-b-li">{{logoDataModalDetail.description}}</li>
					<li class="w20 all-table-b-li">
						<span class="w30 task-btn-span"
							  ng-click="checkEventDetail($event, dataDetail)">编辑</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>