<div class="leftNav-box">
    <ul class="left-nav-ul">
        <li class="left-nav-li" ng-repeat="nav in $root.navList track by nav.value" ng-click="chooseNav($event,nav)"
            ng-class="{'left-nav-li-selected':$root.leftNavChoose == nav.value}">
            <span class="left-nav-li-title" ng-bind="nav.name"></span>
            <ul class="secondUl"
                ng-style="{'height':($root.leftNavChoose == nav.value)?(nav.sonUl.length * 40 + 'px'):(0)}">
                <li class="left-second-nav-li" ng-repeat="secondList in nav.sonUl track by $index"
                    ng-bind="secondList.name"
                    ng-class="{'left-second-nav-li-selected':secondLiChoice == secondList.value}"
                    ng-click="changeSecondLi($event, secondList.value)">
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="main-view clearfix">
    <div class="right-nav" >
        <div class="right-view" ui-view=''></div>
    </div>
    <div footer class="footer"></div>
</div>
