<div class="privilege-add-box">
    <div class="privilege-add-module-box">
        <div class="privilege-add-module-header clearfix">
            <label class="all-four-font-width-in">基本信息:</label>
            <div class="privilege-left-cue-line-box">
                <span class="privilege-left-cue-line"></span>
            </div>
        </div>
        <div class="privilege-add-module-body">
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">特权名称:</label>
                    <input type="text" class="form-control all-eidt-input" placeholder="请输入特权名称" />
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权图标:</label>
                    <img class="taskLogoUload" ng-src="" alt="图标" />
                    <div class="task-upload-btn-box">
                        <button class="all-upload-btn">上传图标</button>
                    </div>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">特权描述:</label>
                    <input type="text" class="form-control all-eidt-input" placeholder="请输入特权描述内容" />
                </div>
            </div>
        </div>
    </div>

    <div class="privilege-add-module-box">
        <div class="privilege-add-module-header clearfix">
            <label class="all-four-font-width-in">特权条件:</label>
            <div class="privilege-left-cue-line-box">
                <span class="privilege-left-cue-line"></span>
            </div>
        </div>
        <div class="privilege-add-module-body">
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">k点:</label>
                    <input type="text" class="form-control all-half-edit-input" placeholder="请输入k点值"/>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">勋章:</label>
                    <input type="text" class="form-control all-half-edit-input" placeholder="无"/>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">等级:</label>
                    <input type="text" class="form-control all-half-edit-input" placeholder="无"/>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">逻辑关系:</label>
                    <input type="text" class="form-control half-half-edit-input" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-manage-add-line">
        <label class="all-four-font-width-in"></label>
        <div class="all-question-btn-box m50">
			<span class="all-detail-save-btn"
                  ng-click="$root.jumpRoute.jumpToActive()">
			完成
			</span>
			<span class="all-detail-cancel-btn"
                  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
        </div>
    </div>
</div>