<div class="privilege-detail-box">
    <div class="task-detail-del-btn clearfix">
            <span class="all-detail-delete-btn"
                  ng-click=""  >
                删除
            </span>
    </div>
    <div class="privilege-add-module-box">
        <div class="privilege-add-module-header clearfix">
            <label class="all-four-font-width">基本信息:</label>
            <div class="privilege-left-cue-line-box">
                <span class="privilege-left-cue-line"></span>
            </div>
        </div>
        <div class="privilege-add-module-body">
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权ID:</label>
                    <span class="all-four-right-answer">34567</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权名称:</label>
                    <span class="all-four-right-answer">兼职南北</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权图标:</label>
                    <img class="taskLogoUload" ng-src="" alt="图标" />
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权描述:</label>
                    <span class="all-four-right-answer">兼职南北</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">特权状态:</label>
                    <span class="all-four-right-answer">禁用</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">创建时间:</label>
                    <span class="all-four-right-answer">2014-04-09 10:90:89</span>
                </div>
            </div>
        </div>
    </div>

    <div class="privilege-add-module-box">
        <div class="privilege-add-module-header clearfix">
            <label class="all-four-font-width">特权条件:</label>
            <div class="privilege-left-cue-line-box">
                <span class="privilege-left-cue-line"></span>
            </div>
        </div>
        <div class="privilege-add-module-body">
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">k点:</label>
                    <span class="all-four-right-answer">200点</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">勋章:</label>
                    <span class="all-four-right-answer">关键</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">等级:</label>
                    <span class="all-four-right-answer">100级</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">逻辑关系:</label>
                    <span class="all-four-right-answer">与</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-manage-add-line">
        <label class="all-four-font-width"></label>
        <div class="all-question-btn-box m50">
			<span class="all-detail-save-btn"
                  ng-click="$root.jumpRoute.jumpToEdit(3)">
			编辑
			</span>
        </div>
    </div>
</div>