<p class="content-title"><span class="first-context-title" ng-click="activeId.jump()">{{$root.navTitle[activeId.id]}}</span>>{{$root.navNextTitle[activeId.id].add}}</p>

<div class="child-view" ng-controller="accountCheck" ng-if="activeId.id == 'userEvent'">
	<ng-include class="a100" src="'partials/mainManage/account/accountAdd.html'"></ng-include>
</div>

<div class="child-view" ng-controller="medalManage" ng-if="activeId.id == 'medalManage'">
	<ng-include class="a100" src="'partials/mainManage/medalManage/medalAdd.html'"></ng-include>
</div>

<div class="child-view" ng-controller="gradeManage" ng-if="activeId.id == 'gradeManage'">
	<ng-include class="a100" src="'partials/mainManage/gradeManage/gradeAdd.html'"></ng-include>
</div>

<div class="child-view" ng-controller="cardManage" ng-if="activeId.id == 'cardManage'">
	<ng-include class="a100" src="'partials/mainManage/cardManage/cardAdd.html'"></ng-include>
</div>
<div class="child-view" ng-controller="taskManage" ng-if="activeId.id == 'taskManage'">
	<ng-include class="a100" src="'partials/mainManage/taskManage/taskAdd.html'"></ng-include>
</div>


<div class="child-view" ng-controller="privilegeManage" ng-if="activeId.id == 'privilegeManage'">
	<ng-include class="a100" src="'partials/mainManage/privilege/privilegeAdd.html'"></ng-include>
</div>