<p class="content-title"><span class="first-context-title" ng-click="activeId.jump()">{{$root.navTitle[activeId.id]}}</span>>{{$root.navNextTitle[activeId.id].detail}}</p>

<div class="controller-box" ng-controller="accountCheck" ng-if="activeId.id == 'userEvent'">
	<ng-include class="include-box" src="'partials/mainManage/account/accountCheck.html'"></ng-include>
</div>
<div class="controller-box" ng-controller="gradeManage" ng-if="activeId.id == 'gradeManage'">
	<ng-include class="include-box" src="'partials/mainManage/gradeManage/gradeDetail.html'"></ng-include>
</div>
<div class="controller-box" ng-controller="cardManage" ng-if="activeId.id == 'cardManage'">
	<ng-include class="include-box" src="'partials/mainManage/cardManage/cardDetail.html'"></ng-include>
</div>
<div class="controller-box" ng-controller="taskManage" ng-if="activeId.id == 'taskManage'">
	<ng-include class="include-box" src="'partials/mainManage/taskManage/taskDetail.html'"></ng-include>
</div>

<div class="controller-box" ng-controller="privilegeManage" ng-if="activeId.id == 'privilegeManage'">
	<ng-include class="include-box" src="'partials/mainManage/privilege/privilegeDetail.html'"></ng-include>
</div>

<div class="controller-box" ng-controller="medalManage" ng-if="activeId.id == 'medalManage'">
	<ng-include class="include-box" src="'partials/mainManage/medalManage/medalDetail.html'"></ng-include>
</div>