<p class="content-title"><span class="first-context-title" ng-click="activeId.jump()">{{$root.navTitle[activeId.id]}}</span>>{{$root.navNextTitle[activeId.id].edit}}</p>

<div class="child-view" ng-controller="accountCheck" ng-if="activeId.id == 'userEvent'">
	<ng-include class="a100" src="'partials/mainManage/account/accountEdit.html'"></ng-include>
</div>


<div class="child-view" ng-controller="gradeManage" ng-if="activeId.id == 'gradeManage'">
	<ng-include class="a100" src="'partials/mainManage/gradeManage/gradeEdit.html'"></ng-include>
</div>
<!-- 卡券管理 -->
<div class="child-view" ng-controller="cardManage" ng-if="activeId.id == 'cardManage'">
	<ng-include class="a100" src="'partials/mainManage/cardManage/cardEdit.html'"></ng-include>
</div>
<div class="child-view" ng-controller="taskManage" ng-if="activeId.id == 'taskManage'">
	<ng-include class="a100" src="'partials/mainManage/taskManage/taskEdit.html'"></ng-include>
</div>
<div class="child-view" ng-controller="privilegeManage" ng-if="activeId.id == 'privilegeManage'">
	<ng-include class="a100" src="'partials/mainManage/privilege/privilegeEdit.html'"></ng-include>
</div>
<div class="child-view" ng-controller="medalManage" ng-if="activeId.id == 'medalManage'">
	<ng-include class="a100" src="'partials/mainManage/medalManage/medalEdit.html'"></ng-include>
</div>