<div class="content-title" ng-bind="$root.navTitle[activeId.id]"></div>
<!-- 路由创建控制器一一对应页面注意activeId.id -->
<div class="child-view" ng-controller="signUpAccount" ng-if="activeId.id == 'signUpAccount'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 用户事件 -->
<div class="child-view" ng-controller="userEvent" ng-if="activeId.id == 'userEvent'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 勋章管理 -->
<div class="child-view" ng-controller="medalManage" ng-if="activeId.id == 'medalManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 等级管理 -->
<div class="child-view" ng-controller="gradeManage" ng-if="activeId.id == 'gradeManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 卡券管理 -->
<div class="child-view" ng-controller="cardManage" ng-if="activeId.id == 'cardManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!--任务管理-->
<div class="child-view" ng-controller="taskManage" ng-if="activeId.id == 'taskManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 勋章管理 -->
<div class="child-view" ng-controller="privilegeManage" ng-if="activeId.id == 'privilegeManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 活动经营 -->
<div class="child-view" ng-controller="activityOperate" ng-if="activeId.id == 'activityOperate'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>

<div class="child-view" ng-controller="loyaltyManage" ng-if="activeId.id == 'loyaltyManage'">
	<ng-include class="a100" src="$root.navMap[activeId.id]"></ng-include>
</div>
<!-- 当未进行二次查询时 -->






<div class="child-view" ng-controller="activityOperate" ng-if="activeId == 'activityOperate'">
	<ng-include class="a100" src="$root.navMap[activeId]"></ng-include>
</div>
<div class="child-view" ng-controller="operateStatics" ng-if="activeId == 'operateStatics'">
	<ng-include class="a100" src="$root.navMap[activeId]"></ng-include>
</div>
<!-- <div ng-controller="gradeManage" ng-if="activeId == 'gradeManage'">
	<ng-include src="$root.navMap[activeId]"></ng-include>
</div> -->
<div class="child-view" ng-controller="warrantyManage" ng-if="activeId == 'warrantyManage'">
	<ng-include class="a100" src="$root.navMap[activeId]"></ng-include>
</div>
<div class="child-view" ng-controller="pushManage" ng-if="activeId == 'pushManage'">
	<ng-include class="a100" src="$root.navMap[activeId]"></ng-include>
</div>
<div class="child-view" ng-controller="kShopping" ng-if="activeId == 'kShopping'">
	<ng-include class="a100" src="$root.navMap[activeId]"></ng-include>
</div>



