<!-- 查看详情 -->
<div class="account-check-main">
	<div class="ac-body">
        <div class="ac-item-del-btn-box">
            <button class="btn-3 ac-item-del-btn"
					ng-click="deleteEventDetail(operateAfterData.id)">删除</button>
        </div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">事件名称:</label>
			<div class="ac-item-con">
				<span>
					{{operateAfterData.name}}
				</span>
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				事件描述:
			</label>
			<div class="ac-item-con">
				<div>
                    {{operateAfterData.descrition}}
				</div>
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				事件ID:
			</label>
			<div class="ac-item-con">
				{{operateAfterData.id}}
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				事件状态:
			</label>
			<div class="ac-item-con">
				启用中
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				创建时间:
			</label>
			<div class="ac-item-con">
				{{operateAfterData.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				事件参数:
			</label>
			<div class="ac-item-con">
                <ul class="ac-item-table-header clearfix">
                    <li>参数名称</li>
                    <li>参数类型</li>
                    <li>参数描述</li>
                </ul>
                <ul class="ac-item-table-body clearfix">
                    <li>{{operateAfterData.eventData.dataName}}</li>
                    <li>{{operateAfterData.eventData.dataType}}</li>
                    <li>{{operateAfterData.eventData.dataDescription}}</li>
                </ul>
			</div>
		</div>
		<div class="ac-item-main clearfix">
			<label class="ac-item-title">
				关联任务:
			</label>
			<div class="ac-item-con">
                <ul class="ac-item2-table-header clearfix">
                    <li>任务名称</li>
                    <li>操作</li>
                </ul>
                <ul class="ac-item2-table-body clearfix">
                    <li>首次登陆用户中心并注册</li>
                    <li><span class="op-btn-span"
							  ng-click="missionDetail(67)">查看详情</span></li>
                </ul>
			</div>
		</div>
		<div class="ac-item-btn-box">
			<button class="edit-btn-style" ng-click="$root.jumpRoute.jumpToEdit(operateAfterData.id)">编辑</button>
		</div>
	</div>
</div>

<div ng-if="" class="check-event-detail">
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">事件名称:</span>
		<span class="col-xs-8">{{operateAfterData.name}}</span>
	</div>
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">事件描述:</span>
		<span class="col-xs-8"></span>
	</div>
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">事件ID:</span>
		<span class="col-xs-8"></span>
	</div>
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">创建时间:</span>
		<span class="col-xs-8">{{operateAfterData.createTime | date:'yyyy-MM-dd'}}</span>
	</div>
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">事件状态:</span>
		<table class="col-xs-9 descriptionTable"><thead><tr><th class="col-xs-2">参数名称</th><th class="col-xs-2">参数类型</th><th class="col-xs-2">参数描述</th></tr></thead>
		<tbody><tr>
		<td>}</td>
		<td>{{operateAfterData.eventData.dataType}}</td>
		<td>}</td>
		</tr></tbody></table>
	</div>
	<div class="col-xs-12 m50">
		<span class="col-xs-1 text-r">关联任务:</span>
		<span class="col-xs-8">{{operateAfterData.connectWork}}</span>
	</div>
	<div class="col-xs-12 m100">
		<span class="col-xs-1">
		</span>
		<span class="col-xs-4 edit-btn-style" >
			编辑
		</span>
		<!--<span class="col-xs-4 delete-btn-style ml20" ng-click="deleteEventDetail(operateAfterData.id)"  >-->
			<!--删除-->
		<!--</span>-->
	</div>
</div>