<!-- 新建事件和编辑事件 -->
<div class="check-event-edit-main">
	<div class="cee-body">
		<div class="clearfix">
			<label class="cee-b-title">
				事件名称:
			</label>
			<div class="cee-b-con clearfix">
				<span class="cee-b-con-first-span">EV_</span>
				<input type="text" class="form-control cee-first-input"
					   ng-model="eventNameInput"
					   placeholder="请输入事件名称" />
			</div>
			<div class="event-right-remain-box">
				<p class="event-name-remain" ng-if="eventNameInput==''">{{remain.eventNameNull}}</p>
				<p class="event-name-remain" ng-if="eventNameInput == 'cjf'">{{remain.eventNameSame}}</p>
			</div>
		</div>
		<div class="clearfix">
			<label class="cee-b-title">
				事件描述:
			</label>
			<div class="cee-b-con clearfix">
				<input type="text"
					   class="form-control cee-b-input"
					   ng-model="eventDescriptionInput"
					   placeholder="请输入需要描述的内容">
			</div>
			<div class="event-right-remain-box">
				<p class="event-name-remain" ng-if="eventDescriptionInput==''">
					{{remain.eventNameNull}}</p>
				<p class="event-name-remain" ng-if="eventDescriptionInput == 'cjf'">
					{{remain.eventNameSame}}</p>
			</div>
		</div>
		<div class="clearfix">
			<label class="cee-b-title">
				事件状态:
			</label>
			<div class="cee-b-con clearfix">
				<div class="cee-b-radio-box">
					<input type="radio" name="ceeStatus"
						   ng-value="'open'"
						   ng-model="checkData.status"
						   id="cee-open" class="form-control cee-b-radio">
					<label for="cee-open" class="cee-b-radio-title">启用</label>
				</div>
				<div class="cee-b-radio-box">
					<input type="radio" id="cee-close"
						   name="ceeStatus"
						   ng-value="'close'"
						   ng-model="checkData.status"
						   class="form-control cee-b-radio">
					<label for="cee-close" class="cee-b-radio-title">禁用</label>
				</div>
			</div>
		</div>
		<div class="cee-b-item clearfix">
			<label class="cee-b-title">
				事件参数:
			</label>
			<div class="eventAddInput" ng-repeat="eventItem in eventItems">
				<div class="cee-b-con clearfix">
					<div class="cee-b-in-box clearfix">
						<div class="cee-b-in w20">
							<input type="text" placeholder="参数名称" class="form-control cee-b-input2">
						</div>
						<div class="cee-b-in w15">
							<select class="form-control cee-b-input2" ng-model="optionInit"
									ng-options="option.value as option.name for option in dataOption"></select>
						</div>
						<div class="cee-b-in w20">
							<input type="text" placeholder="值" class="form-control cee-b-input2">
						</div>
						<div class="cee-b-in w30">
							<input type="text" placeholder="参数描述" class="form-control cee-b-input2">
						</div>
						<div class="cee-b-in w15 clearfix">
							<input class="cee-cbox" type="checkbox">
							<label class="cee-cbox-title">必填</label>
							<span class="cee-cbox-del" ng-click="reduceItem(eventItem)">删除</span>
						</div>
					</div>
				</div>
			</div>
			<div class="cee-b-add clearfix">
				<i class="fi ico-cee-add ico-cee-add-o"></i>
				<span class="cee-b-add-t" ng-click="addItem()">添加参数</span>
			</div>
		</div>
		<div class="cee-b-btn-box clearfix">
			<button class="edit-btn-style fl"
					ng-click="$root.jumpRoute.jumpToActive()">完成</button>
			<span class="op-btn-span cee-b-btn-cancel"
				  ng-click="$root.jumpRoute.jumpToActive()">取消</span>
		</div>
	</div>
</div>


<div ng-if='' class="check-event-detail">
	<div class="col-xs-7 m25">
		<label class="col-xs-1 label-control">事件名称:</label>
		<input class="form-control input-fulll-control" type="text" placeholder="输入事件名称" ng-model="eventNameRemain"/>
	</div>
	<div class="col-xs-7 ">
		<div class="col-xs-1 label-control"></div>	
		<span class="remain-hide" ng-class="{'remain-show':eventNameRemain == ''}">事件命名为空，请输入！！</span>
	</div>
	<div class="col-xs-7">
		<label class="col-xs-1 label-control">事件描述:</label>
		<input class="form-control input-fulll-control" type="text" placeholder="输入事件描述" ng-model="evenDescriptiontRemain">
	</div>
	<div class="col-xs-7 ">
		<div class="col-xs-1 label-control"></div>	
		<span class="remain-hide" ng-class="{'remain-show':evenDescriptiontRemain == ''}">事件描述为空，请输入！！</span>
	</div>
	<div class="col-xs-7">
		<label class="col-xs-1 label-control">事件参数:</label>
		<input class="form-control w3" type="text" placeholder="参数名称" ng-model="cheeekName" />
		<input class="form-control w2" type="text" placeholder="参数类型" ng-model="cheeekType" />
		<input class="form-control w3" type="text" placeholder="参数描述" ng-model="cheeekDesciption" />
		<span class="input-right-font">新建</span>
	</div>
	<div class="col-xs-7 ">
		<div class="col-xs-1 label-control"></div>	
		<img class="newDataPicture" src="images/src/addEvent.png" />
		<span class="newDataPicture">增加参数</span>
	</div>

	<div class="col-xs-7 m100">
		<span class="col-xs-1">
		</span>
		<span class="col-xs-4 edit-btn-style"
			  ng-click="$root.jumpRoute.jumpToActive()">
			新建
		</span>
		<span class="col-xs-4 delete-btn-style ml20"
			  ng-click="$root.jumpRoute.jumpToActive()">
			取消
		</span>
	</div>
</div>