<div class="user-event">
    <div class="event-box">
        <ul class="a100 clearfix">
            <li class="tab-li"
                ng-repeat="inOutChoice in eventChoose track by $index"
                ng-bind="inOutChoice.name"
                ng-click="chooseAction($event, inOutChoice)"
                ng-class="{'choose':$root.chooseInOut == inOutChoice.value}"></li>
        </ul>
    </div>
    <div class="inside-event" ng-if="$root.chooseInOut== 'insideEvent'">
        <div class="inside-e-header">
            <ul class="inside-e-ul clearfix">
                <li class="w15">事件ID</li>
                <li class="w10">事件名称</li>
                <li class="w20">事件描述</li>
                <li class="w30">事件参数</li>
                <li class="w20">时间排序</li>
                <li class="w5">操作</li>
            </ul>
        </div>
        <div class="all-table-null-box" ng-if="data ==''">
            <div class="all-table-body-font">暂无数据!!</div>
        </div>
        <div class="inside-e-body" ng-if="data !=''">
            <ul class="inside-e-b-ul clearfix" ng-repeat="dataDetail in data track by $index">
                <li class="w15" ng-bind="dataDetail.id"></li>
                <li class="w10" ng-bind="dataDetail.name"></li>
                <li class="w20" ng-bind="dataDetail.description"></li>
                <li class="w30" ng-bind="dataDetail.data"></li>
                <li class="w20" ng-bind="dataDetail.dateOrder | date: 'yyyy-MM-dd  HH:mm:ss'"></li>
                <li class="w5">
                    <span class="op-btn-span" ng-click="$root.jumpRoute.jumpToDetail(dataDetail.id)">查看</span>
                </li>
            </ul>
        </div>
        <div class="all-page-box clearfix">
            <div class="all-footer-page-box ">
                <uib-pagination class="all-page-number"
                                total-items="1000"
                                items-per-page="dataSize.itemPerPage"
                                ng-model="dataSize.bigCurrentPage"
                                max-size="5"
                                ng-change="changePage(dataSize.bigCurrentPage)"
                                class="pagination-sm"
                                next-text=">"
                                previous-text="<"
                                boundary-link-numbers="true"
                                rotate="false" >
                </uib-pagination>
                <div class="all-page-operation">
                    <select ng-model="data.value"
                            ng-change="changeLine(data.value)"
                            ng-value="data.value"
                            class="all-page-input"  >
                        <option ng-repeat="data in $root.pageLineNumber track by $index"
                                ng-value="data.value"
                                ng-bind="data.name"></option>
                    </select>
                    <span class="all-page-font">调至{{dataSize.maxSize}}</span>
                    <input type="number" min="1"
                           max="dataSize.maxSize"
                           ng-change="changePage(dataSize.bigCurrentPage)"
                           ng-model="dataSize.bigCurrentPage"
                           class="form-control all-page-input"/>
                    <span class="all-page-font">页</span>
                </div>
            </div>
        </div>
    </div>
    <div class="outside-event" ng-if="$root.chooseInOut== 'outsideEvent'">
        <div class="event-head-search clearfix">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <label for="eventName" class="label-control">事件描述:</label>
                    <input type="text" id="eventName" class="form-control input-control"/>
                </div>
                <div class="col-xs-3">
                    <label for="eventCreateTime" class="label-control">创建时间:</label>
                    <input type="text" id="eventCreateTime" class="form-control input-control"
                           data-date-format="yyyy-MM-dd"
                           ng-model="createEventDate.startDate"
                           data-autoclose="1"
                           data-max-date="{{createEventDate.endDate}}"
                           placeholder="请输入开始日期"
                           bs-datepicker=""/>
                    <label for="eventCreateTime" class="icon-calendar icon-2x iconLocationShort"></label>
                </div>
                <span class="cut-off-line">—</span>
                <div class="col-xs-3">
                    <input type="text" id="eventEndTime" class="form-control only-input-control"
                           data-date-format="yyyy-MM-dd"
                           ng-model="createEventDate.endDate"
                           data-autoclose="1"
                           data-min-date="{{createEventDate.startDate}}"
                           placeholder="请输入结束日期"
                           bs-datepicker=""/>
                    <label for="eventEndTime" class="icon-calendar icon-2x iconLocationMiddle"></label>
                </div>
                <div class="col-xs-1">
                    <button class="button-control">搜索</button>
                </div>
            </div>
        </div>
        <div class="outside-e-btn-box">
            <div class="new-event-btn" ng-click="createNewEvent()">
                新建事件
            </div>
        </div>
        <div class="event-table-header">
            <ul class="event-t-h-ul clearfix">
                <li class="w15">事件ID</li>
                <li class="w10">事件名称</li>
                <li class="w20">事件描述</li>
                <li class="w30">事件参数</li>
                <li class="w15">创建时间</li>
                <li class="w10">操作</li>
            </ul>
        </div>
        <div class="all-table-null-box" ng-if="dataOutside ==''">
            <div class="all-table-body-font">暂无数据!!</div>
        </div>
        <div class="event-table-body" ng-if="dataOutside !=''">
            <ul class="event-t-b-ul clearfix" ng-repeat="dataDetail in dataOutside track by $index">
                <li class="w15" ng-bind="dataDetail.id"></li>
                <li class="w10" ng-bind="dataDetail.name"></li>
                <li class="w20" ng-bind="dataDetail.description"></li>
                <li class="w30" ng-bind="dataDetail.data"></li>
                <li class="w15" ng-bind="dataDetail.dateOrder | date :'yyyy-MM-dd HH:mm:ss'"></li>
                <li class="w10">
                    <span class="op-btn-span" ng-click="$root.jumpRoute.jumpToDetail(dataDetail.id)">查看</span>
                    <span class="op-btn-span" ng-click="deleteEventDetail(dataDetail.id)">删除</span>
                </li>
            </ul>
        </div>
        <div class="all-page-box clearfix">
            <div class="all-footer-page-box ">
                <uib-pagination class="all-page-number"
                                total-items="1000"
                                items-per-page="dataSize.itemPerPage"
                                ng-model="dataSize.bigCurrentPage"
                                max-size="5"
                                ng-change="changePage(dataSize.bigCurrentPage)"
                                class="pagination-sm"
                                next-text=">"
                                previous-text="<"
                                boundary-link-numbers="true"
                                rotate="false" >
                </uib-pagination>
                <div class="all-page-operation">
                    <select ng-model="data.value"
                            ng-change="changeLine(data.value)"
                            ng-value="data.value"
                            class="all-page-input"  >
                        <option ng-repeat="data in $root.pageLineNumber track by $index"
                                ng-value="data.value"
                                ng-bind="data.name"></option>
                    </select>
                    <span class="all-page-font">调至</span>
                    <input type="number" min="1"
                           max="dataSize.maxSize"
                           ng-change="changePage(dataSize.bigCurrentPage)"
                           ng-model="dataSize.bigCurrentPage"
                           class="form-control all-page-input"/>
                    <span class="all-page-font">页</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 删除弹出莫态框 -->
<!-- Modal -->
