<div class="task-detail-content-box">

    <div class="task-detail-base-info clearfix">
        <div class="task-detail-del-btn clearfix">
            <span class="all-detail-delete-btn"
                  ng-click="deleteEventDetail(dataIntroductionDetail.id)"  >
                删除
            </span>
        </div>
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">基本信息:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
        <div class="task-question-module-box">

            <div class="task-question-box clearfix">
                <label class="all-four-font-width">基本名称:</label>
                <span class="all-four-right-answer">首次登录用户中心并注册</span>
            </div>
            <div class="task-question-box clearfix">
                <label class="all-four-font-width">任务图标:</label>
                <img class="taskLogo" src="images/src/personal.jpg" alt="加载logo失败" />
            </div>
            <div class="task-question-box clearfix">
                <label class="all-four-font-width">任务图片:</label>
                <img class="taskPicture" src="images/src/personal.jpg" alt="加载图片失败">
            </div>
        </div>
        <div class="task-detail-body">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">周期条件:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <div class="task-question-module-box clearfix">
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">任务时间:</label>
                    <span class="all-four-right-answer">2080分钟</span>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">上线时间:</label>
                    <span class="all-four-right-answer-time">1996-08-09</span>
                <!--</div>-->
                <!--<div class="task-question-box clearfix">-->
                    <label class="all-four-font-width">下线时间:</label>
                    <span class="all-four-right-answer-time">1996-08-09</span>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">循环次数:</label>
                    <span class="all-four-right-answer">5次</span>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">循环周期:</label>
                    <span class="all-four-right-answer">2天</span>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">循环起点:</label>
                    <span class="all-four-right-answer">2</span>
                </div>
            </div>
        </div>
        <div class="task-detail-body">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">完成条件:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <div class="task-question-module-box clearfix">
                <ul class="task-event-head clearfix">
                    <li class="w20">事件名称</li>
                    <li class="w15">累计次数</li>
                    <li class="w15">计算周期</li>
                    <li class="w35">事件参数</li>
                </ul>
                <ul class="task-event-body clearfix">
                    <li class="w20">高大又威猛</li>
                    <li class="w15">持久无压力</li>
                    <li class="w15">轮番上阵</li>
                    <li class="w35">战斗力达到数万以上,机器无法承受已爆破</li>
                </ul>
            </div>
        </div>
        <div class="task-detail-body">
            <div class="task-question-module-box clearfix">
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width title-color">任务奖励:</label>
                    <div class="task-line-box">
                        <span class="task-middle-line"></span>
                    </div>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">k点:</label>
                    <span class="all-four-right-answer">20000k点</span>
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">勋章:</label>
                    <img class="honorLogo" src="images/logo/icon-calendar.png" alt="勋章加载失败" />
                    <img class="honorLogo" src="images/logo/icon-calendar.png" alt="勋章加载失败" />
                    <img class="honorLogo" src="images/logo/icon-calendar.png" alt="勋章加载失败" />
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">卡券:</label>
                    <img class="cardLogo" src="images/src/personal.jpg" alt="卡券加载失败" />
                    <img class="cardLogo" src="images/src/personal.jpg" alt="卡券加载失败" />
                    <img class="cardLogo" src="images/src/personal.jpg" alt="卡券加载失败" />
                </div>
                <div class="task-question-box clearfix">
                    <label class="all-four-font-width">回调URL:</label>
                    <span class="all-four-right-answer">http://company.konka.com/index.php</span>
                </div>
            </div>
        </div>
        <div class="all-question-btn-box m50 fl">
			<span class="all-detail-edit-btn"
                  ng-click="$root.jumpRoute.jumpToEdit(000)">
			编辑
			</span>
        </div>
    </div>
</div>