<div class="task-detail-content-box">
    <div class="task-detail-base-info clearfix">
        <div class="task-detail-body">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">基本信息:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <div class="task-question-module-box">
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width-in">任务名称:</label>
                        <input type="text" class="form-control task-edit-input" placeholder="请输入任务名称" />
                    </div>
                    <div class="w50 task-edit-remain">不超过50字节</div>
                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width-in">任务标签:</label>
                        <input type="text" class="form-control task-edit-select" placeholder="请选择任务标签" />
                    </div>

                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width task-q-logo-mid">图标:</label>
                        <img class="taskLogoUload" ng-src="" alt="图标" />
                        <div class="task-upload-btn-box">
                            <button class="all-upload-btn">上传图标</button>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain task-q-logo-mid">(非必填)留空则使用默认图标,建议图标文件尺寸为128*128</div>
                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width task-q-picture-mid">图片:</label>
                        <img class="task-picture-upload" ng-src="" alt="任务图片" />
                        <div class="task-p-upload-btn-box">
                            <button class="all-upload-btn">上传图标</button>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain task-q-picture-mid">(非必填)留空则使用默认图标,建议图标文件尺寸为120*240</div>
                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width">任务描述:</label>
                        <textarea class="form-control all-four-right-textarea task-edit-textarea"
                                placeholder="请输入任务描述"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="task-detail-body">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">周期条件:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <div class="task-question-module-box">
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width-in">上线时间:</label>
                        <input type="text" class="form-control task-edit-input task-edit-time-input"
                               data-date-format="yyyy-MM-dd"
                               ng-model="taskHeightLine.startDate"
                               data-autoclose="1"
                               data-max-date="{{taskHeightLine.endDate}}"
                               placeholder="2016-01-01"
                               bs-datepicker="" />
                        <i class="ico-calendar-add ico-calendar-add-o icon-second-style task-e-t-icon"></i>
                    </div>
                    <div class="w50 task-edit-remain">任务开始时间,留空表示任务立即开始</div>
                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width-in">下线时间:</label>
                        <input type="text" class="form-control task-edit-input task-edit-time-input"
                               data-date-format="yyyy-MM-dd"
                               ng-model="taskHeightLine.endDate"
                               data-autoclose="1"
                               data-max-date="{{taskHeightLine.startDate}}"
                               placeholder="2016-01-01"
                               bs-datepicker="" />
                        <i class="ico-calendar-add ico-calendar-add-o icon-second-style task-e-t-icon"></i>
                    </div>
                    <div class="w50 task-edit-remain">任务结束时间,结束后会员将无法申请此任务,留空表示无限制</div>
                </div>
                <div class="task-question-box clearfix">
                    <div class="w50 fl">
                        <label class="all-four-font-width-in">循环周期单位:</label>
                        <div class="task-edit-radio-box">
                            <input name="loop-cycle-unit" id="no-choice" type="radio" class="form-control task-edit-radio" />
                            <label for="no-choice" class="task-edit-radio-font">无</label>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain">
                        设置任务间隔周期的计算单位
                    </div>
                    <div class="w50 fl pl100">
                        <div class="task-edit-radio-box">
                            <input name="loop-cycle-unit" id="hour-choice" type="radio" class="form-control task-edit-radio" />
                            <label for="hour-choice" class="task-edit-radio-font">小时</label>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain">
                        小时：表示指定小时后可再次申请，间隔周期填写间隔的小时数
                    </div>
                    <div class="w50 fl pl100">
                        <div class="task-edit-radio-box">
                            <input name="loop-cycle-unit" id="day-choice" type="radio" class="form-control task-edit-radio" />
                            <label for="day-choice" class="task-edit-radio-font">天</label>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain">
                        天：表示指定天后可再次申请，间隔周期填写间隔的天数
                    </div>
                    <div class="w50 fl pl100">
                        <div class="task-edit-radio-box">
                            <input name="loop-cycle-unit" id="week-choice" type="radio" class="form-control task-edit-radio" />
                            <label for="week-choice" class="task-edit-radio-font">周</label>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain">
                        周：表示在每周指定时间(周一到周日)后才可再次申请，间隔周期填写数字 1 (周一) 到 7 (周日)
                    </div>
                    <div class="w50 fl pl100">
                        <div class="task-edit-radio-box">
                            <input name="loop-cycle-unit" id="month-choice" type="radio" class="form-control task-edit-radio" />
                            <label for="month-choice" class="task-edit-radio-font">月</label>
                        </div>
                    </div>
                    <div class="w50 task-edit-remain">
                        月：表示在每月指定日期后才可再次申请，间隔周期填写数字 1 到 29、30、31
                    </div>
                </div>
            </div>
        </div>
        <div class="task-detail-body">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">完成条件:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <div class="task-question-module-box clearfix">
                <div class="task-detail-add-btn clearfix">
                    <span class="all-detail-delete-btn">
                        添加事件
                    </span>
                </div>
                <ul class="task-event-head clearfix fl">
                    <li class="w20">事件名称</li>
                    <li class="w10">累计次数</li>
                    <li class="w10">计算周期</li>
                    <li class="w35">事件参数</li>
                    <li class="w10">操作</li>
                </ul>
                <ul class="task-event-body clearfix">
                    <li class="w20" contenteditable="true"></li>
                    <li class="w10" contenteditable="true"></li>
                    <li class="w10" contenteditable="true"></li>
                    <li class="w35" contenteditable="true"></li>
                    <li class="w10" contenteditable="true"></li>
                </ul>
            </div>
        </div>
        <div class="task-detail-body m25">
            <div class="task-question-box clearfix">
                <label class="all-four-font-width title-color">任务奖励:</label>
                <div class="task-line-box">
                    <span class="task-middle-line"></span>
                </div>
            </div>
            <p class="task-honer-description">用户在设定的时限内完任务即可得到奖励</p>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width-in">k点:</label>
                    <input type="text" class="form-control task-edit-select" placeholder="请输入K点的数值" />
                </div>
            </div>
            <div class="task-question-box clearfix">
                <label class="all-four-font-width-in">勋章:</label>
                <div class="honor-add-i-box">
                    <i class="fi ico-cee-add ico-cee-add-o task-i-loca"></i>
                    <span class="task-card-honor-add">添加勋章</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <label class="all-four-font-width">卡券:</label>
                <div class="honor-add-i-box">
                    <i class="fi ico-cee-add ico-cee-add-o task-i-loca"></i>
                    <span class="task-card-honor-add">添加卡券</span>
                </div>
            </div>
            <div class="task-question-box clearfix">
                <div class="w50 fl">
                    <label class="all-four-font-width">回调URL:</label>
                    <textarea class="form-control all-four-right-textarea task-edit-textarea"
                             placeholder="请输入你需要的链接"></textarea>
                </div>
            </div>
        </div>
        <div class="all-question-btn-box m50 fl">
			<span class="all-detail-edit-btn"
                  ng-click="$root.jumpRoute.jumpToActive()">
			完成
			</span>
            <span class="all-detail-cancel-btn"
                  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
        </div>
    </div>
</div>