<div class="task-content-box">
	<div class="task-header-box clearfix">
		<div class="task-h-serch-box w25 clearfix">
			<label class="task-h-label">任务名称:</label>
			<input type="text" class="form-control task-h-first-in">
		</div>
		<div class="task-h-serch-box w20 clearfix">
			<label class="task-h-label">创建时间:</label>
			<input type="text" class="form-control task-h-first-in"
				   data-date-format="yyyy-MM-dd"
				   ng-model="createTaskDate.startDate"
				   data-autoclose="1"
				   data-max-date="{{createTaskDate.endDate}}"
				   placeholder="2016-01-01"
				   bs-datepicker="" >
			<i class="icon-calendar icon-2x icon-first-style"></i>
		</div>
		<span class="cue-line">—</span>
		<div class="task-h-serch-box w20 clearfix">
			<input type="text" class="form-control task-h-second-in"
				   data-date-format="yyyy-MM-dd"
				   ng-model="createTaskDate.endDate"
				   data-autoclose="1"
				   data-min-date="{{createTaskDate.startDate}}"
				   placeholder="2016-01-01"
				   bs-datepicker="">
			<i class="icon-calendar icon-2x icon-second-style"></i>
		</div>
		<div class="task-h-serch-box w10 clearfix">
			<button class="task-search-btn">搜索</button>
		</div>
	</div>
	<div class="new-task-btn-box">
		<button class="edit-btn-style edit-btn-right" ng-click="$root.jumpRoute.jumpToAdd(taskInitDataList.taskid)">新建任务</button>
	</div>
	<div class="task-body-box">
		<ul class="task-b-head clearfix">
			<li class="w10">任务图标</li>
			<li class="w20">任务ID</li>
			<li class="w20">任务名称</li>
			<li class="w35">
				<span>创建事件</span>
				<i></i>
			</li>
			<li class="w15">操作</li>
		</ul>
		<div class="all-table-null-box" ng-if="taskInitData ==''">
			<div class="all-table-body-font">暂无数据!!</div>
		</div>
		<div class="task-b-body-box" ng-if="taskInitData !=''">
			<ul class="task-b-body clearfix" ng-repeat="taskInitDataList in taskInitData track by $index">
				<li class="w10">
					<img class="task-b-body-img" ng-src="{{taskInitDataList.taskLogo}}" alt="图片加载失败" />
				</li>
				<li class="w20">{{taskInitDataList.taskId}}</li>
				<li class="w20">{{taskInitDataList.taskName}}</li>
				<li class="w35">
					<span>{{taskInitDataList.taskCreateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
					<i></i>
				</li>
				<li class="w15 clearfix">
					<span class="task-btn-span">禁用</span>
					<span class="task-btn-span" ng-click="$root.jumpRoute.jumpToDetail(taskInitDataList.taskid)">查看</span>
					<span class="task-btn-span">删除</span>
					<span class="task-btn-span" ng-click="$root.jumpRoute.jumpToEdit(taskInitDataList.taskid)">修改</span>
				</li>
			</ul>
		</div>
		<div class="all-page-box clearfix">
			<div class="all-footer-page-box ">
				<uib-pagination class="all-page-number"
								total-items="1000"
								items-per-page="dataSize.itemPerPage"
								ng-model="dataSize.bigCurrentPage"
								max-size="5"
								ng-change="changePage(dataSize.bigCurrentPage)"
								class="pagination-sm"
								next-text=">"
								previous-text="<"
								boundary-link-numbers="true"
								rotate="false" >
				</uib-pagination>
				<div class="all-page-operation">
					<select ng-model="data.value"
							ng-change="changeLine(data.value)"
							ng-value="data.value"
							class="all-page-input"  >
						<option ng-repeat="data in $root.pageLineNumber track by $index"
								ng-value="data.value"
								ng-bind="data.name"></option>
					</select>
					<span class="all-page-font">调至</span>
					<input type="number" min="1"
						   max="dataSize.maxSize"
						   ng-change="changePage(dataSize.bigCurrentPage)"
						   ng-model="dataSize.bigCurrentPage"
						   class="form-control all-page-input"/>
					<span class="all-page-font">页</span>
				</div>
			</div>
		</div>
	</div>
</div>