body {
	background-color: #f9f9f9;
}
.header{
	width: 100%;
	height: 56px;
	overflow: hidden;
	background-color: #fff;
}
.head {
	width: 100%;
	height: 100%;
}
.header-title {
	margin-left: 35px;
	width: calc(100% - 220px);
	height: 100%;
	float: left;
}

.header-logo {
	height: 20px;
	float: left;
	margin: 18px 10px;
}

.header-logo-font{
	width: 126px;
	height: 100%;
	line-height: 56px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.header-user-box {
	margin-right: 35px;
	float: right;
	height: 100%;
	padding: 13px 0;
}
.iconHeaderShow {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.header-quit, .header-quit:hover {
	margin-left: 15px;
	color: #666;
	cursor: pointer;
}
.main-view {
	width: calc(100% - 120px);
	height: 100%;
	float: left;
}

.right-nav{
	width: 100%;
	padding: 15px;
	height: calc(100% - 40px);
	overflow: auto;
}

.right-view{
	min-width: 904px;
	width: 100%;
	height: 100%;
}

.child-view{
	width: 100%;
	height: calc(100% - 40px);
}

.content-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.copyright-notice {
	width: -moz-calc( 100% - (120px));
	width: calc( 100% - (120px));
	text-align: center;
	position: absolute;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
	right: 0;
	bottom: 0
}