.left-nav{
    width: 100%;
    height: calc(100% - 56px);
    overflow: hidden;
}

.leftNav-box {
    height: 100%;
    background-color: #354052;
    width: 120px;
    float: left;
    padding-top: 50px;
    overflow: auto;
}

.left-nav-ul{
    width: 100%;
    overflow: hidden;
}

.left-nav-li {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.left-nav-li-title{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-nav-li-selected, .left-nav-li:hover {
}

.secondUl {
    background-color: #2D394C;
    width: 100%;
    overflow: hidden;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.second-nav-box {
    width: 100%;
    height: auto;
}

.left-second-nav-li {
    width: 100%;
    display: inline-block;
    list-style: none;
    background-color: #2D394C;
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    opacity: .6;
    position: relative;
    line-height: 40px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: transparent;
}

.left-second-nav-li:hover{
    border-left-color: #3896F8;
    opacity: 1;
    background-color: rgba(255,255,255,.2);
}

.left-second-nav-li.left-second-nav-li-selected{
    border-left-color: #3896F8;
    background-color: rgba(255,255,255,.2);
    opacity: 1;
}