<div class="grade-content-box">
	<div class="grade-header-list">
		<ul class="grade-h-list-ul clearfix">
			<li ng-repeat="honorList in honorInit track by $index"
					ng-bind="honorList.name" ng-click="honorLogoChoice(honorList.value)"
					ng-class="{'grade-h-list-li-selected':honorList.value == honorChoice}"></li>
		</ul>
	</div>
	<div class="a100 grade-list-content" ng-if="honorChoice == 'honor'">
		<div class="grade-header-search-box">
			<ul class="clearfix grade-h-s-choice">
				<li class="w10">
					<label class="grade-h-li-two-font">级别:</label>
					<input type="text" class="form-control grade-h-two-font-input" />
				</li>
				<li class="w15">
					<label class="grade-h-li-two-font">头衔:</label>
					<input type="text" class="form-control grade-h-two-font-input" />
				</li>
				<li class="w20">
					<label class="grade-h-li-four-font">创建时间:</label>
					<input type="text" class="form-control grade-h-four-font-input"
						   data-date-format="yyyy-MM-dd"
						   ng-model="createGradeDate.startDate"
						   data-autoclose="1"
						   data-min-date="{{createGradeDate.endDate}}"
						   placeholder="2016-01-01"
						   bs-datepicker="" />
					<i class="ico-calendar-add ico-calendar-add-o icon-first-style"></i>

				</li>
				<span class="grade-cue-line">—</span>
				<li class="w20">
					<input type="text" class="form-control grade-h-four-font-input"
						   data-date-format="yyyy-MM-dd"
						   ng-model="createGradeDate.endDate"
						   data-autoclose="1"
						   data-min-date="{{createGradeDate.startDate}}"
						   placeholder="2016-01-01"
						   bs-datepicker="" />
					<i class="ico-calendar-add ico-calendar-add-o icon-second-style"></i>

				</li>
				<li class="w10">
					<button class="search-btn">搜索</button>
				</li>
			</ul>
		</div>
		<div class="grade-new-honor-box">
			<button class="edit-btn-style edit-btn-right"
					ng-click="$root.jumpRoute.jumpToAdd(honorInitDataList.id)">新建头衔</button>
		</div>
		<div class="all-table-null-box" ng-if="dataModal ==''">
			<div class="all-table-body-font">暂无数据!!</div>
		</div>
		<div class="all-table-head grade-table-height-box" ng-if="dataModal !=''">
			<ul class="all-table-head-ul">
				<li class="w15 all-table-h-li">级别</li>
				<li class="w20 all-table-h-li">头衔</li>
				<li class="w25 all-table-h-li">头衔描述</li>
				<li class="w25 all-table-h-li">创建时间</li>
				<li class="w15 all-table-h-li">操作</li>
			</ul>
			<div class="all-table-body-box">
				<ul class="all-table-body-ul" ng-repeat="honorInitDataList in dataModal track by $index">
					<li class="w15 all-table-b-li">{{honorInitDataList.id}}</li>
					<li class="w20 all-table-b-li">{{honorInitDataList.honor}}</li>
					<li class="w25 all-table-b-li">{{honorInitDataList.description}}</li>
					<li class="w25 all-table-b-li">
						{{honorInitDataList.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
					</li>
					<li class="w15 all-table-b-li">
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToDetail(honorInitDataList.id)">查看</span>
						<span class="w30 all-table-operation">删除</span>
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToEdit(honorInitDataList.id)">修改</span>
					</li>
				</ul>
			</div>
			<div class="all-page-box clearfix">
				<div class="all-footer-page-box ">
					<uib-pagination class="all-page-number"
									total-items="1000"
									items-per-page="dataSize.itemPerPage"
									ng-model="dataSize.bigCurrentPage"
									max-size="5"
									ng-change="changePage(dataSize.bigCurrentPage)"
									class="pagination-sm"
									next-text=">"
									previous-text="<"
									boundary-link-numbers="true"
									rotate="false" >
					</uib-pagination>
					<div class="all-page-operation">
						<select ng-model="data.value"
								ng-change="changeLine(data.value)"
								ng-value="data.value"
								class="all-page-input"  >
							<option ng-repeat="data in $root.pageLineNumber track by $index"
									ng-value="data.value"
									ng-bind="data.name"></option>
						</select>
						<span class="all-page-font">调至</span>
						<input type="number" min="1"
							   max="dataSize.maxSize"
							   ng-change="changePage(dataSize.bigCurrentPage)"
							   ng-model="dataSize.bigCurrentPage"
							   class="form-control all-page-input"/>
						<span class="all-page-font">页</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grade-list-content-box  a100" ng-if="honorChoice == 'logo'">
		<div class="all-table-head grade-table-logo-height">
			<ul class="all-table-head-ul">
				<li class="w20 all-table-h-li">名称</li>
				<li class="w20 all-table-h-li">图标</li>
				<li class="w40 all-table-h-li">格式要求</li>
				<li class="w20 all-table-h-li">操作</li>
			</ul>
			<div class="all-table-null-box" ng-if="logoDataModal ==''">
				<div class="all-table-body-font">暂无数据!!</div>
			</div>
			<div class="all-table-body-box" ng-if="logoDataModal !=''">
				<ul class="all-table-body-ul" ng-repeat="logoDataModalDetail in logoDataModal track by $index">
					<li class="w20 all-table-b-li">{{logoDataModalDetail.name}}</li>
					<li class="w20 all-table-b-li">
						<img ng-src="{{logoDataModalDetail.picture}}" />
					</li>
					<li class="w40 all-table-b-li">{{logoDataModalDetail.description}}</li>
					<li class="w20 all-table-b-li">
						<span class="w30 task-btn-span"
							  ng-click="checkEventDetail($event, dataDetail)">编辑</span>
					</li>
				</ul>
			</div>
			<div class="all-page-box clearfix">
				<div class="all-footer-page-box ">
					<uib-pagination class="all-page-number"
									total-items="1000"
									items-per-page="dataSize.itemPerPage"
									ng-model="dataSize.bigCurrentPage"
									max-size="5"
									ng-change="changePage(dataSize.bigCurrentPage)"
									class="pagination-sm"
									next-text=">"
									previous-text="<"
									boundary-link-numbers="true"
									rotate="false" >
					</uib-pagination>
					<div class="all-page-operation">
						<select ng-model="data.value"
								ng-change="changeLine(data.value)"
								ng-value="data.value"
								class="all-page-input"  >
							<option ng-repeat="data in $root.pageLineNumber track by $index"
									ng-value="data.value"
									ng-bind="data.name"></option>
						</select>
						<span class="all-page-font">调至</span>
						<input type="number" min="1"
							   max="dataSize.maxSize"
							   ng-change="changePage(dataSize.bigCurrentPage)"
							   ng-model="dataSize.bigCurrentPage"
							   class="form-control all-page-input"/>
						<span class="all-page-font">页</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






  <!-- 上传图片摸态框 -->
<!-- Modal -->
<div class="modal fade" id="myImgFileUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改图标</h4>
      </div>
      <div class="modal-body">
      	<p class="imgDescription">
      		<span class="imgDescrptionSpan">128*128的png， 透明背景</span>
      	</p>
       	<p class="imgVeil-box m25">
      		<img class="uploadImgShow" ng-if="data.imgLogoShows != ''" ng-src="{{imgPathLogo}}" />
       		<span ng-if="data.imgLogoShows == ''" class="uploadLogoVeil">点击上传logo</span>
       	</p>
        <p class="img-box">
        	<input class="uploadLogo" type="file" ng-model="data.imgLogoShows" id="fileUpload" file-upload >
        </p>
        <div id="imgPreview"></div>
        <p class="m50 btn-clear-change">
         <button type="button" class="edit-btn-style" ng-click="modalEventDecideChoice()">保存</button>
        <button type="button" class="delete-btn-style ml20" data-dismiss="modal">取消</button>
        </p>
       </div>
    </div>
  </div>
</div>
