<!-- 编辑详情 -->
<div class="all-detail-bg">
	<div class="all-detail-body">
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">级别:</label>
			<input type="text" class="form-control all-four-right-input"
					 ng-model="dataIntroductionEdit.id" placeholder="请选择级别"/>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔:</label>
			<input type="text" class="form-control all-four-right-input" placeholder="TV端xxx"
				   ng-model="dataIntroductionEdit.name"/>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔描述:</label>
			<textarea class="form-control all-four-right-textarea" placeholder="请输入描述"
				   ng-model="dataIntroductionEdit.description"></textarea>
		</div>
		<div class="all-question-btn-box m50">
			<span class="all-detail-save-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			保存
			</span>
			<span class="all-detail-cancel-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
		</div>
	</div>
</div>

<div class="check-event-detail" ng-if="">
	<div class="col-xs-7 m25">
		<label class="col-xs-1 label-control">级别:</label>
		<input class="form-control input-fulll-control" type="text" placeholder="请选择级别" ng-model="dataIntroductionEdit.id" />
	</div>
	<div class="col-xs-7 m25">
		<label class="col-xs-1 label-control">头衔:</label>
		<input class="form-control input-fulll-control" type="text" placeholder="请输入头衔名称" ng-model="dataIntroductionEdit.name"/>
	</div>
	<div class="col-xs-7 m25">
		<label class="col-xs-1 label-control">头衔描述:</label>
		<textarea class="form-control text-full-control" type="text" placeholder="请输入头衔描述" ng-model="dataIntroductionEdit.description"></textarea> 
	</div>

	<div class="col-xs-7 m100">
		<span class="col-xs-1 label-control">
		</span>
		<span class="col-xs-4 delete-btn-style" ng-click="$root.jumpRoute.jumpToActive()">
			取消
		</span>
		<span class="col-xs-4 edit-btn-style ml20">
			保存
		</span>
	</div>
</div>