<!-- 查看详情 -->
<div class="all-detail-bg">
	<div class="all-detail-del-btn clearfix">
		<span class="all-detail-delete-btn"
			  ng-click="deleteEventDetail(dataIntroductionDetail.id)"  >
			删除
		</span>
	</div>
	<div class="all-detail-body">
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">级别:</label>
			<span class="all-four-right-answer">{{dataIntroductionDetail.id}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔:</label>
			<span class="all-four-right-answer">{{dataIntroductionDetail.name}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔描述:</label>
			<span class="all-four-right-answer">{{dataIntroductionDetail.description}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">创建时间:</label>
			<span class="all-four-right-answer">
				{{dataIntroductionDetail.createTime | date:'yyyy-MM-dd'}}
			</span>
		</div>
		<div class="all-question-btn-box m50">
			<span class="all-detail-edit-btn"
				  ng-click="$root.jumpRoute.jumpToEdit(dataIntroductionDetail.id)">
			编辑
			</span>
		</div>
	</div>
</div>


  <!-- 
删除弹出莫态框 -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        <p class="mainRemain m25">{{deleteRemainSesten}}</p>
        <p class="smallRemain">{{deleteRemainDownSesten}}</p>
        <p class="m25 btn-clear-change"><button type="button" class="delete-btn-style" data-dismiss="modal">取消</button>
        <button type="button" class="edit-btn-style ml20" ng-click="modalEventDecideChoice(checkAfterDetail.id)">确定</button>
        </p>
       </div>
    </div>
  </div>
</div>