<!-- 添加详情 -->
<div class="all-detail-bg">
	<div class="all-detail-body">
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">级别:</label>
			<input type="text" class="form-control all-four-right-input" placeholder="请选择级别" />
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔:</label>
			<input type="text" class="form-control all-four-right-input" placeholder="TV端xxx" />
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">头衔描述:</label>
			<textarea class="form-control all-four-right-textarea" placeholder="请输入描述"></textarea>
		</div>
		<div class="all-question-btn-box m50">
			<span class="all-detail-save-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			保存
			</span>
			<span class="all-detail-cancel-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
		</div>
	</div>
</div>

</div>
