<div class="card-manage-detail-box">
	<div class="all-detail-del-btn clearfix">
		<span class="all-detail-delete-btn"
			  ng-click="deleteEventDetail(dataIntroductionDetail.id)"  >
			删除
		</span>
	</div>
	<div class="all-detail-body">
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">事件ID:</label>
			<span class="all-four-right-answer">{{cardDataDetail.id}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">卡券名称:</label>
			<span class="all-four-right-answer">{{cardDataDetail.name}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">卡券图标:</label>
			<img ng-src="{{cardDataDetail.cardImg}}" alt="无卡券图标" class="card-detail-img">
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">卡券描述:</label>
			<span class="all-four-right-answer">{{cardDataDetail.description}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">卡券类型:</label>
			<span class="all-four-right-answer">{{cardDataDetail.type}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">卡券倍数:</label>
			<span class="all-four-right-answer">{{cardDataDetail.multiple}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">启用时间:</label>
			<span class="all-four-right-answer">
				{{cardDataDetail.start | date:'yyyy-MM-dd'}}
			</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">有效时长:</label>
			<span class="all-four-right-answer">{{cardDataDetail.effectLength}}</span>
		</div>
		<div class="all-question-box clearfix m25">
			<label class="all-four-font-width">创建时间:</label>
			<span class="all-four-right-answer">
				{{cardDataDetail.create | date:'yyyy-MM-dd'}}
			</span>
		</div>
		<div class="all-question-btn-box m50">
			<span class="all-detail-edit-btn"
				  ng-click="$root.jumpRoute.jumpToEdit(dataIntroductionDetail.id)">
			编辑
			</span>
		</div>
	</div>
</div>