
<div class="card-manage-box">
	<div class="card-manage-header">
		<div class="card-h-first-line clearfix">
			<div class="w15 fl">
				<label class="card-h-font">卡券类型:</label>
				<input type="text" class="form-control card-h-input" />
			</div>
			<div class="w30 fl">
				<label class="card-h-font">卡券名称:</label>
				<input type="text" class="form-control card-h-input" />
			</div>
			<div class="w20 fl h34">
				<label class="card-h-font">启用时间:</label>
				<input type="text" class="form-control card-h-input"
						data-date-format="yyyy-MM-dd"
						ng-model="cardStartTime.startDate"
						data-autoclose="1"
						data-max-date="{{cardStartTime.endDate}}"
						placeholder="2009-1-1"
						bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-ico-date"></i>
			</div>
			<div class="card-cue-line">—</div>
			<div class="w20 fl">
				<input type="text" class="form-control card-h-input"
					   data-date-format="yyyy-MM-dd"
					   ng-model="cardStartTime.startDate"
					   data-autoclose="1"
					   data-max-date="{{cardStartTime.endDate}}"
					   placeholder="2009-1-1"
					   bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-ico-second-date"></i>
			</div>
		</div>
		<div class="card-h-second-line clearfix">
			<div class="w20 fl h34">
				<label class="card-h-font">过期时间:</label>
				<input type="text" class="form-control card-h-input"
					   data-date-format="yyyy-MM-dd"
					   ng-model="cardEndTime.startDate"
					   data-autoclose="1"
					   data-max-date="{{cardEndTime.endDate}}"
					   placeholder="2009-1-1"
					   bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-ico-date"></i>
			</div>
			<div class="card-cue-line">—</div>
			<div class="w20 fl">
				<input type="text" class="form-control card-h-input"
					   data-date-format="yyyy-MM-dd"
					   ng-model="cardEndTime.startDate"
					   data-autoclose="1"
					   data-max-date="{{cardEndTime.endDate}}"
					   placeholder="2009-1-1"
					   bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-ico-second-date"></i>
			</div>
			<div class="card-search-btn-box fl">
				<button class="card-search-btn">搜索</button>
			</div>
		</div>
	</div>
	<div class="card-manage-new-card clearfix">
		<button class="card-manage-new-btn" ng-click="$root.jumpRoute.jumpToAdd()">新建卡券</button>
	</div>
	<div class="card-manage-body">
		<div class="all-table-head">
			<ul class="all-table-head-ul">
				<li class="w10 all-table-h-li">卡券ID</li>
				<li class="w20 all-table-h-li">卡券名称</li>
				<li class="w15 all-table-h-li">卡券类型</li>
				<li class="w20 all-table-h-li">启用时间</li>
				<li class="w20 all-table-h-li">过期时间</li>
				<li class="w15 all-table-h-li">操作</li>
			</ul>
			<div class="all-table-null-box" ng-if="cardInintList ==''">
				<div class="all-table-body-font">暂无数据!!</div>
			</div>
			<div class="all-table-body-box" ng-if="cardInintList !=''">
				<ul class="all-table-body-ul" ng-repeat="cardList in cardInintList track by $index">
					<li class="w10 all-table-b-li">{{cardList.id}}</li>
					<li class="w20 all-table-b-li">{{cardList.name}}</li>
					<li class="w15 all-table-b-li">{{cardList.type}}</li>
					<li class="w20 all-table-b-li">
						{{cardList.start | date:'yyyy-MM-dd HH:mm:ss'}}
					</li>
					<li class="w20 all-table-b-li">
					{{cardList.end | date:'yyyy-MM-dd HH:mm:ss'}}
					</li>
					<li class="w15 all-table-b-li">
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToDetail(cardList.id)">查看</span>
						<span class="w30 all-table-operation">删除</span>
						<span class="w30 all-table-operation"
							  ng-click="$root.jumpRoute.jumpToEdit(cardList.id)">修改</span>
					</li>
				</ul>
			</div>
			<div class="all-page-box clearfix">
				<div class="all-footer-page-box ">
					<uib-pagination class="all-page-number"
									total-items="1000"
									items-per-page="dataSize.itemPerPage"
									ng-model="dataSize.bigCurrentPage"
									max-size="5"
									ng-change="changePage(dataSize.bigCurrentPage)"
									class="pagination-sm"
									next-text=">"
									previous-text="<"
									boundary-link-numbers="true"
									rotate="false" >
					</uib-pagination>
					<div class="all-page-operation">
						<select ng-model="data.value"
								ng-change="changeLine(data.value)"
								ng-value="data.value"
								class="all-page-input"  >
							<option ng-repeat="data in $root.pageLineNumber track by $index"
									ng-value="data.value"
									ng-bind="data.name"></option>
						</select>
						<span class="all-page-font">调至</span>
						<input type="number" min="1"
							   max="dataSize.maxSize"
							   ng-change="changePage(dataSize.bigCurrentPage)"
							   ng-model="dataSize.bigCurrentPage"
							   class="form-control all-page-input"/>
						<span class="all-page-font">页</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>