<div class="card-manage-add-box">
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">卡券名称:</label>
			<input type="text" class="form-control all-eidt-input" placeholder="请输入卡券名称" />
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width">卡券图标:</label>
			<span class="card-logo-upload"></span>
			<div class="card-logo-btn-box">
				<button class="card-logo-btn">上传图标</button>
			</div>
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">卡券描述</label>
			<input class="form-control all-eidt-input" placeholder="请输入卡券描述内容">
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">启用时间:</label>
			<div class="card-m-add-date-box">
				<input type="text" class="form-control card-manage-add-date"
					   data-date-format="yyyy-MM-dd"
					   ng-model="cardAddTime.startDate"
					   data-autoclose="1"
					   data-max-date="{{cardAddTime.endDate}}"
					   placeholder="2009-1-1"
					   bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-add-both-date"></i>
			</div>
			<span class="cue-line">—</span>
			<div class="card-m-add-date-box">
				<input type="text" class="form-control card-manage-add-date"
					   data-date-format="yyyy-MM-dd"
					   ng-model="cardAddTime.endDate"
					   data-autoclose="1"
					   data-max-date="{{cardAddTime.startDate}}"
					   placeholder="2009-1-1"
					   bs-datepicker="" />
				<i class="fi ico-calendar-add ico-calendar-add-o card-add-both-date"></i>
			</div>
		</div>
		<div class="w50 fl card-right-remain">
			有效期内，用户可使用卡券购买相应商品，获得优惠
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">卡券类型:</label>
			<input type="text" class="form-control all-edit-select" placeholder="加速性">
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">加速倍数:</label>
			<input type="text" class="form-control all-edit-select" placeholder="2">
		</div>
	</div>
	<div class="card-manage-add-line clearfix">
		<div class="w50 fl">
			<label class="all-four-font-width-in">使用时长:</label>
			<input type="text" class="form-control card-m-add-date" placeholder="0">
			<span class="fl card-add-minute-font">分钟</span>
		</div>
	</div>
	<div class="card-manage-add-line">
		<label class="all-four-font-width-in"></label>
		<div class="all-question-btn-box m50">
			<span class="all-detail-save-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			完成
			</span>
			<span class="all-detail-cancel-btn"
				  ng-click="$root.jumpRoute.jumpToActive()">
			取消
			</span>
		</div>
	</div>
</div>