<div class="modal" ROLE="dialog" tabindex="-1">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true" ng-click="cancel()">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div class="modal-body">
            <p class="mainRemain m25" ng-bind="deleteRemainSesten"></p>
            <p class="smallRemain" ng-bind="deleteRemainDownSesten"></p>
            <p class="m25 btn-clear-change">
                <button type="button" class="delete-btn-style" ng-click="cancel()">取消</button>
                <button type="button" class="edit-btn-style ml20"
                        ng-click="modalEventDecideChoice()">
                    确定
                </button>
            </p>
        </div>
    </div>
</div>