<div class="modal" role="dialog">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true" ng-click="cancel($event)">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">授予勋章</h4>
        </div>
        <div class="modal-body">
            <div class="edit-medal-b-h">

            </div>
            <div class="edit-medal-b-b">

            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>