<div class="modal" role="dialog">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true" ng-click="cancel($event)">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">授予K点</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control give-k-point-input" placeholder="请输入要授予的K点值">
            <div class="m25 btn-clear-change">
                <button type="button" class="delete-btn-style" ng-click="cancel($event)">取消</button>
                <button type="button" class="edit-btn-style ml20"
                        ng-click="modalEventDecideChoice($event)">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>