<div class="modal" role="dialog" tabindex="-1">
    <div class="modal-content modal-dialog successDetail-box">
        <img class="successImg" src="images/src/successImg.png" alt="图片加载失败" />
        <span class="successDetail" ng-bind="successDetail"></span>
    </div>
</div>