<div class="signUp-account-detail-main">
    <div class="sad-title">
        <span class="back-title" ng-click="fn.goBack($event)">注册用户管理</span>
        <i class="icon icon-angle-right"></i>
        <span class="back-t2">用户详情</span>
    </div>
    <div class="sad-content">
        <div class="sad-header">
            <div class="tag-main">
                <div class="tag-box" ng-click="fn.changeTag($event,'base')">
                    <span class="tag-item" ng-class="{'choose':chooseType == 'base'}">基本信息</span>
                </div>
                <div class="tag-box" ng-click="fn.changeTag($event,'update')">
                    <span class="tag-item" ng-class="{'choose':chooseType == 'update'}">忠诚度变更记录</span>
                </div>
            </div>
        </div>
        <div class="sad-body" ng-if="chooseType == 'base'">
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">个人信息</span>
            </div>
            <div class="sad-item-box">
                <div class="sad-item clearfix">
                    <label class="sad-item-title">头像:</label>
                    <div class="sad-item-content">
                        <img class="sad-item-img" src="../../images/src/default-icon.png" alt="">
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">昵称:</label>
                    <div class="sad-item-content">
                        <span>Vincent</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">生日:</label>
                    <div class="sad-item-content">
                        <span>1990-09-11</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">邮箱:</label>
                    <div class="sad-item-content">
                        <span>Vincent32@126.com</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">地区:</label>
                    <div class="sad-item-content">
                        <span>吉林省   长春市   双阳区   硅谷街道办事处（长春高新技术产业开发区）（国家级）</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">住址:</label>
                    <div class="sad-item-content">
                        <span>沙河街道汕头街8号康佳院</span>
                    </div>
                </div>
            </div>
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">统计信息</span>
            </div>
            <div class="sad-item-box">
                
                <div class="sad-item clearfix">
                    <label class="sad-item-title">在线时长:</label>
                    <div class="sad-item-content">
                        <span>320小时</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">等级:</label>
                    <div class="sad-item-content">
                        <span>2</span>
                    </div>
                </div>
                <div class="sad-item clearfix">
                    <label class="sad-item-title">K点:</label>
                    <div class="sad-item-content">
                        <span>160000</span>
                        <button class="btn-5 sad-give-medal" ng-click="fn.giveKPiont($event)">授予</button>
                        <span class="cur-p" ng-click="fn.deleteKPoint($event)">清除</span>
                    </div>
                </div>
            </div>
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">勋章信息</span>
            </div>
            <div class="sad-item-box medal-main">
                <ul class="sad-item-ul clearfix">
                    <li>
                        <img class="sad-medal-img" src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">一起剁手</span>
                        <i class="fi ico-delete-medal ico-delete-medal-o delete-medal-i" ng-click="fn.deleteMedal($event)"></i>
                    </li>
                    <li>
                        <img class="sad-medal-img"  src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">富可敌国</span>
                        <i class="fi ico-delete-medal ico-delete-medal-o delete-medal-i" ng-click="fn.deleteMedal($event)"></i>
                    </li>
                    <li>
                        <img class="sad-medal-img"  src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">富可敌国</span>
                        <i class="fi ico-delete-medal ico-delete-medal-o delete-medal-i" ng-click="fn.deleteMedal($event)"></i>
                    </li>
                    <li>
                        <img class="sad-medal-img"  src="../../images/icon/add_icon.png" alt="" ng-click="fn.addMedal($event)">
                    </li>
                </ul>
            </div>
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">勋章信息</span>
            </div>
            <div class="sad-item-box medal-main">
                <ul class="sad-item-ul clearfix">
                    <li>
                        <img class="sad-medal-img" src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">普天同庆</span>
                    </li>
                    <li>
                        <img class="sad-medal-img"  src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">普天同庆</span>
                    </li>
                </ul>
            </div>
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">卡券信息</span>
            </div>
            <div class="sad-item-box medal-main">
                <ul class="w100">
                    <li class="sad-item-card">
                        50
                    </li>
                    <li class="sad-item-card">
                        20
                    </li>
                </ul>
            </div>
            <div class="seq-box">
                <hr class="hr-seq">
                <span class="hr-seq-title">登录设备</span>
            </div>
            <div class="sad-item-box medal-main">
                <ul class="sad-item-ul clearfix">
                    <li>
                        <img class="sad-medal-img" src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">康佳官网</span>
                    </li>
                    <li>
                        <img class="sad-medal-img"  src="../../images/src/demo_icon.png" alt="">
                        <span class="delete-medal-span">康佳社区</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sad-body" ng-if="chooseType == 'update'">
            <div class="card-manage-header">
                <div class="card-h-first-line clearfix">
                    <div class="w30 fl">
                        <label class="card-h-font">类型:</label>
                        <input type="text" class="form-control card-h-input" />
                    </div>
                    <div class="w30 fl">
                        <label class="card-h-font">内容:</label>
                        <input type="text" class="form-control card-h-input" />
                    </div>
                    <div class="w30 fl">
                        <label class="card-h-font">原因:</label>
                        <input type="text" class="form-control card-h-input" />
                    </div>
                </div>
                <div class="card-h-second-line clearfix">
                    <div class="w30 fl h34">
                        <label class="card-h-font">过期时间:</label>
                        <input type="text" class="form-control card-h-input"
                               data-date-format="yyyy-MM-dd"
                               ng-model="cardEndTime.startDate"
                               data-autoclose="1"
                               data-max-date="{{cardEndTime.endDate}}"
                               placeholder="2009-1-1"
                               bs-datepicker="" />
                        <i class="fi ico-calendar-add ico-calendar-add-o card-ico-date"></i>
                    </div>
                    <div class="card-cue-line">—</div>
                    <div class="w30 fl">
                        <input type="text" class="form-control card-h-input"
                               data-date-format="yyyy-MM-dd"
                               ng-model="cardEndTime.startDate"
                               data-autoclose="1"
                               data-max-date="{{cardEndTime.endDate}}"
                               placeholder="2009-1-1"
                               bs-datepicker="" />
                        <i class="fi ico-calendar-add ico-calendar-add-o card-ico-second-date"></i>
                    </div>
                </div>
            </div>
            <div class="card-manage-body signup-padding">
                <div class="all-table-head">
                    <ul class="all-table-head-ul">
                        <li class="w25 all-table-h-li">变更时间</li>
                        <li class="w25 all-table-h-li">变更类型</li>
                        <li class="w25 all-table-h-li">变更内容</li>
                        <li class="w25 all-table-h-li">变更原因</li>
                    </ul>
                    <div class="all-table-null-box" ng-if="aignAccount ==''">
                        <div class="all-table-body-font">暂无数据!!</div>
                    </div>
                    <div class="all-table-body-box" ng-if="aignAccount !=''">
                        <ul class="all-table-body-ul" ng-repeat="aignAccountList in aignAccount track by $index">
                            <li class="w25 all-table-b-li">{{aignAccountList.time | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                            <li class="w25 all-table-b-li">{{aignAccountList.type}}</li>
                            <li class="w25 all-table-b-li">{{aignAccountList.content}}</li>
                            <li class="w25 all-table-b-li">{{aignAccountList.reason}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>