<div class="signUp-account-main">
    <div class="sa-header">
        <div class="sa-h-item-box clearfix">
            <div class="w35 sa-h-item clearfix">
                <label class="sa-h-item-label">手机号:</label>
                <div class="sa-h-item-item-box">
                    <input type="text" class="form-control sa-h-i-item-a-in">
                </div>
            </div>
            <div class="w35 sa-h-item clearfix">
                <label class="sa-h-item-label">昵称:</label>
                <div class="sa-h-item-item-box">
                    <input type="text" class="form-control sa-h-i-item-a-in">
                </div>
            </div>
            <div class="w30 sa-h-item clearfix">
                <label class="sa-h-item-label">设备数量:</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="number" class="form-control sa-h-i-item-l-in">
                    <span class="sa-h-i-item-seq">-</span>
                    <input type="number" class="form-control sa-h-i-item-r-in">
                </div>
            </div>
        </div>
        <div class="sa-h-item-box clearfix">
            <div class="w35 sa-h-item clearfix">
                <label class="sa-h-item-label">K点范围:</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="number" class="form-control sa-h-i-item-l-in">
                    <span class="sa-h-i-item-seq">-</span>
                    <input type="number" class="form-control sa-h-i-item-r-in">
                </div>
            </div>
            <div class="w35 sa-h-item clearfix">
                <label class="sa-h-item-label">勋章数量范围:</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="number" class="form-control sa-h-i-item-l-in">
                    <span class="sa-h-i-item-seq">-</span>
                    <input type="number" class="form-control sa-h-i-item-r-in">
                </div>
            </div>
            <div class="w30 sa-h-item clearfix">
                <label class="sa-h-item-label">等级范围</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="number" class="form-control sa-h-i-item-l-in">
                    <span class="sa-h-i-item-seq">-</span>
                    <input type="number" class="form-control sa-h-i-item-r-in">
                </div>
            </div>
        </div>
        <div class="sa-h-item-box clearfix">
            <div class="w40 sa-h-item clearfix">
                <label class="sa-h-item-label">注册时间:</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.startDate"
                           data-autoclose="1"
                           data-max-date="{{amData.endDate}}"
                           placeholder="请输入开始日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                    <label class="am-op-item-s">-</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.endDate"
                           data-min-date="{{amData.startDate}}"
                           data-autoclose="1"
                           placeholder="请输入结束日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                </div>
            </div>
            <div class="w40 sa-h-item clearfix">
                <label class="sa-h-item-label">最后登录:</label>
                <div class="sa-h-item-item-box clearfix">
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.startDate"
                           data-autoclose="1"
                           data-max-date="{{amData.endDate}}"
                           placeholder="请输入开始日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                    <label class="am-op-item-s">-</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.endDate"
                           data-min-date="{{amData.startDate}}"
                           data-autoclose="1"
                           placeholder="请输入结束日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                </div>
            </div>
            <div class="w20 sa-h-item sa-h-item-btn-box">
                <button class="btn-4 sa-h-item-btn">搜索</button>
            </div>
        </div>
    </div>
    <div class="sa-body">
        <div class="sa-b-header">
            <ul class="a100 sa-b-h-ul">
                <li class="w10">头像</li>
                <li class="w10">手机号</li>
                <li class="w10">昵称</li>
                <li class="w15">注册日期</li>
                <li class="w15">
                    最后登录时间
                    <i></i>
                </li>
                <li class="w10">登录设备</li>
                <li class="w10">K点</li>
                <li class="w10">勋章数量</li>
                <li class="w5">等级</li>
                <li class="w5">操作</li>
            </ul>
        </div>
        <div class="sa-b-body">
            <ul class="w100 sa-b-b-ul clearfix" ng-repeat="item in list track by $index">
                <li class="w10">
                    <div class="sa-b-b-ico-box">
                        <img class="sa-b-b-ico" src="../../images/src/demo_icon.png" alt="">
                    </div>
                </li>
                <li class="w10">
                    13466772409
                </li>
                <li class="w10">
                    柠檬萌不萌
                </li>
                <li class="w15">2016-07-13  12:34:08</li>
                <li class="w15">2016-07-13  12:34:08</li>
                <li class="w10">4</li>
                <li class="w10">2400000</li>
                <li class="w10">2</li>
                <li class="w5">64</li>
                <li class="w5">
                    <span class="op-btn-span" ng-click="showDetail($event)">详情</span>
                </li>
            </ul>
        </div>
        <div class="sa-b-footer">
            <div class="am-b-page">
                <uib-pagination total-items="1000"
                                ng-model="amData.currentPage"
                                max-size="5"
                                class="pagination-sm"
                                boundary-link-numbers="true"
                                force-ellipses="true"
                                previous-text="<"
                                items-per-page="{{20}}"
                                class="page-select-panel"
                                next-text=">">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>